<div class="page-block" style="margin-bottom: 20px;">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="page-header-title f-18" style="float: left; color: #555 !important;">
        <h5>Perguntas frequentes</h5>
      </div>
      <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
        </li>
        <li class="breadcrumb-item active">
          Perguntas frequentes
        </li>

      </ul>
    </div>
  </div>
</div>


<app-card hidHeader="true">
  <div class="form-row">
    <div class="form-group col-md-12">
        <label for="inputEmail4" class="col-form-label">Categoria</label>
        <ng-select [items]="categorias"  bindLabel="categoria"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Consignatária"
        [(ngModel)]="categoria" ></ng-select>
    </div>
  </div>

</app-card>
<ngb-accordion [closeOthers]="true"  class="gradientaccordion" *ngIf="categoria">
  <ngb-panel   *ngFor="let pergunta of categoria.perguntas">
    <ng-template ngbPanelTitle>
      <h5><a href="javascript:">{{pergunta.titulo}}</a></h5>
    </ng-template>
    <ng-template ngbPanelContent>
      {{pergunta.resposta}}
    </ng-template>
  </ngb-panel>
</ngb-accordion>
