<div class="page-block" style="margin-bottom: 20px;">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="page-header-title f-18" style="float: left; color: #555 !important;">
        <h5>Dashboard</h5>
      </div>

    </div>
  </div>
</div>


<div  class="card ng-tns-c92-106 ng-trigger ng-trigger-cardRemove proj-t-card" style="opacity: 1;" *ngFor="let aviso of avisos">
  <!---->
  <div   class="card-body ng-tns-c92-106 ng-star-inserted" style="">
      <div class="row align-items-center m-b-30 ng-tns-c92-106">
          <div   class="col-auto"><i   class="fas fa-lightbulb text-c-green f-30"></i></div>
          <div   class="col p-l-0">
              <h5  class="m-b-5">{{aviso.titulo}}</h5>
              <p   class="m-b-0">{{aviso.mensagem}}</p>
          </div>
      </div>

      <h6  class="pt-badge badge-light-info ng-tns-c92-106">{{aviso.dataHoraInclusao}}</h6>
  </div>
  <!----><!----><!----><!---->
</div>
