 

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Renegociação</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                Renegociação
              </li>

            </ul>
          </div>
        </div>
      </div>

      <app-card  [hidHeader]="true" *ngIf="fase == 1">

        <div class="row view-basic-card">
        <div class="form-inline ng-untouched ng-pristine ng-valid ng-tns-c93-98">
          <div  class="form-group mx-sm-3 mb-2">
            <input  [(ngModel)]="chave"  type="search" id="chave" placeholder="CPF ou Matrícula:" class="form-control">
          </div>
          <button  (click)="pesquisarServidor()" type="button" class="btn btn-primary mb-2">OK</button>
           

        </div>
        </div>
  
      </app-card>

      <app-card  [hidHeader]="true" *ngIf="servidor && fase == 1">

        <div class="row" >
          <div class="col-12 col-sm-12 text-center">
            <span class=" f-24 text-c-teal" style="font-weight: 700;">{{servidor.nome}}</span>
            </div>
      </div>
  
  
        <hr >
  
         <div class="row" >
           <div class="col-4 col-sm-4 text-center">
            <h3  class="m-0" style="font-weight: 400;">{{servidor.margemCartao | currency:'BRL':'symbol'}}</h3>
            <span  class="text-c-green">Margem Total</span>
           </div>
           <div class="col-4 col-sm-4 text-center">
            <h3   class="m-0" style="font-weight: 400;">{{servidor.margemCartaoDisponivel | currency:'BRL':'symbol'}}</h3>
            <span   class="text-c-yellow">Margem Disponível</span>
          </div>
          <div class="col-4 col-sm-4 text-center">
            <h3   class="m-0" style="font-weight: 400;">{{servidor.margemCartaoReservada || 0 | currency:'BRL': 'symbol'}}</h3>
            <span  class="text-c-purple">Margem Reservada</span>
          </div>
  
         </div>
  
  
      <hr>
  
        <div class="row view-basic-card">
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Cpf:</label>
            <p class="texto-info">{{servidor.cpf}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Matrícula:</label>
            <p class="texto-info">{{servidor.matricula || 'Não informado'}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Email:</label>
            <p class="texto-info">{{servidor.email || 'Não informado'}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Telefone:</label>
            <p class="texto-info">{{servidor.telefone || 'Não informado'}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Celular:</label>
            <p class="texto-info">{{servidor.celular || 'Não informado'}}</p>
          </div>
  
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Lotação:</label>
            <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Cargo:</label>
            <p class="texto-info">{{servidor.cargo || 'Não informado'}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label class="label-info">Renda mensal:</label>
            <p *ngIf="servidor.rendaMensal"class="texto-info">{{servidor.rendaMensal | currency:'BRL':'symbol'}}</p>
            <p *ngIf="!servidor.rendaMensal" class="texto-info">Não disponível</p>
  
          </div>
        </div>
  
        <hr>
  
    <div   class="text-center">
      <button type="button" (click)="iniciarRenegociacao()" class="btn btn-primary m-r-5">Iniciar renegociação</button>
    </div>
  
      </app-card>
  

      <app-card  [hidHeader]="true" *ngIf="fase == 2">
        <h5 class="title-info">Selecione os contratos para renegociação</h5>

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
          <thead>
            <tr>
              <th></th>  
              <th style="width: 15%;">ADE</th>
              <th style="width: 15%;">Situação</th>
              <th style="width: 30%;">Servidor</th>
              <th style="width: 15%;">Valor</th>
              <th style="width: 10%;">Parcelas</th>
              <th style="width: 10%;">Pagas</th>
              
          </thead>
          <tbody>
            <tr *ngFor="let emprestimo of emprestimos">
              <td > <input type="checkbox" name="selecionados-{{emprestimo.ade}}" [(ngModel)]="emprestimo['selecionado']"></td>
              <td  >{{emprestimo.ade}}</td>
              <td  >{{emprestimo.situacao?.descricao}}</td>
              <td  >{{emprestimo.servidor?.nome}} </td>
              <td  >{{emprestimo.valorFinanciado}}</td>
              <td  >{{emprestimo.totalDeParcelas}}</td>
              <td  >{{emprestimo.totalDeParcelas - emprestimo.parcelasEmAberto}}</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <div   class="text-center">
          <button type="button" (click)="renegociar()" class="btn btn-primary m-r-5">Renegociar contratos selecionados</button>
        </div>
      </app-card>

     
  
 