

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Servidores</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                 Servidores
              </li>

            </ul>
          </div>
        </div>
      </div>


<app-card hidHeader="true">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputPassword4" class="col-form-label">Nome</label>
        <input type="text" [(ngModel)]="filtroPesquisa.nome"  class="form-control" >
    </div>
      <div class="form-group col-md-4">
          <label for="inputEmail4" class="col-form-label">Matrícula</label>
          <input type="text" [(ngModel)]="filtroPesquisa.matricula"  class="form-control" >
      </div>
      <div class="form-group col-md-4">
          <label for="inputPassword4" class="col-form-label">CPF</label>
          <input type="text" [(ngModel)]="filtroPesquisa.cpf"  class="form-control"  >
      </div>

    <div class="form-group col-md-4">
      <label for="inputPassword4" class="col-form-label">Cargo</label>
      <input type="text" [(ngModel)]="filtroPesquisa.cargo"  class="form-control" >
  </div>
  <div class="form-group col-md-4">
    <label for="inputPassword4" class="col-form-label">Lotação</label>
    <input type="text" [(ngModel)]="filtroPesquisa.lotacao"  class="form-control" >
</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 text-right">
          <button (click)="pesquisar()" class="btn btn-sm btn-primary">Aplicar filtros</button>
      </div>
    </div>
</app-card>

<app-card hidHeader="true">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 40%;">Nome</th>
        <th style="width: 20%;">Matrícula</th>
        <th style="width: 15%;">CPF</th>
        <th style="width: 15%;">Cargo</th>
        <th style="width: 15%;">Situação</th>
        <th style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servidor of servidores">
        <td  >{{servidor.nome}}</td>
        <td  >{{servidor.matricula }}</td>
        <td  >{{servidor.cpf || 'Não informado.'}}</td>
        <td  >{{servidor.cargo}}</td>
        <td  >{{servidor.situacao?.descricao}}</td>
        <td > <button (click)="detalhar(servidor)" type="button" class="btn  btn-sm btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button></td>
      </tr>
    </tbody>
  </table>

</app-card>
