
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Proposta de Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
                <li class="breadcrumb-item ">Proposta de Empréstimo Consignado </li>
            </ul>
          </div>
        </div>
      </div>


    <app-card  [hidHeader]="true" >

      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <p style="margin-top: 10px; font-size: 1.1rem;">Para simular o financiamento informe os campos <b>"Valor da prestação"</b> ou <b>"Valor financiado"</b>  juntamente com o campo <b>"Quantidade de meses"</b>.</p>

        </div>
      </div>
      <hr>

      <div class="row view-basic-card">


          <div class="form-group col-12 col-md-4 col-lg-4">
            <label   for="titulo">Valor financiado</label>
            <input type="text" class="form-control" id="titulo" [(ngModel)]="dadosSimulacao.totalFinanciado"
            currencyMask     [options]="{ prefix: '', thousands: '.', decimal: ',' }">
          </div>
          <div class="form-group col-12 col-md-4 col-lg-4">
            <label   for="titulo">Valor da prestação</label>
            <input type="text" class="form-control" id="titulo" [(ngModel)]="dadosSimulacao.prestacao"
            currencyMask   [options]="{ prefix: '', thousands: '.', decimal: ',' }" >
          </div>
          <div class="form-group col-12 col-md-4 col-lg-4">
            <label   for="titulo">Quantidade de meses</label>
            <input type="number" class="form-control" id="titulo" [(ngModel)]="dadosSimulacao.meses" >
          </div>
        </div>
        <hr>
        <div  class="text-center">
          <button type="button" class="btn btn-primary m-r-5" (click)="simular()"  >Confirmar</button>
        </div>

    </app-card>


    <div class="alert alert-info" role="alert" *ngIf="semProposta && !oferta">
     Não existe proposta para o prazo selecionado.
     </div>


    <app-card  [hidHeader]="true" *ngIf="servidor && oferta">

      <div class="row view-basic-card">
        <div class="col-12 col-md-12 col-lg-12 text-center">
          <label  >Valor Financiado:</label>
          <p  style="font-size: 1.5rem;">{{oferta.valorEmprestimo  | currency:'BRL':'symbol'}}</p>
        </div>
        <hr>
        <div class="col-12 col-md-3 col-lg-3 text-center">
          <label  >Valor Total do financiamento:</label>
          <p  style="font-size: 1.2rem;">{{oferta.valorTotal  | currency:'BRL':'symbol'}}</p>
        </div>
        <div class="col-12 col-md-3 col-lg-3 text-center">
          <label  >Meses:</label>
          <p  style="font-size: 1.2rem;">{{oferta.parcelas }}</p>
        </div>
        <div class="col-12 col-md3 col-lg-3 text-center">
          <label  >Juros mensal:</label>
          <p style="font-size: 1.2rem;" >{{oferta.jurosMensal}}%</p>
        </div>
        <div class="col-12 col-md-3 col-lg-3 text-center">
          <label  >Valor da parcela:</label>
          <p  style="font-size: 1.2rem;">{{oferta.valorParcela  | currency:'BRL':'symbol'}}</p>
        </div>



      </div>


      <hr>
      <div  class="text-center">
        <button (click)="aceitarProposta()" type="button" class="btn btn-primary m-r-5"  >Aceitar Proposta</button>
      </div>


    </app-card>
