<div class="page-block" style="margin-bottom: 20px;">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title f-18" style="float: left; color: #555 !important;">
          <h5>Detalhar Portabilidade </h5>
        </div>
        <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
          <li class="breadcrumb-item">
            <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/pages/portabilidade']">Portabilidades de Empréstimos</a>
          </li>
          <li class="breadcrumb-item active">
           Detalhar Portabilidade 
          </li>

        </ul>
      </div>
    </div>
  </div>

  <app-card  [hidHeader]="true" >


    <h5 class="title-info">Dados do emprestimo</h5>

  <div class="row view-basic-card">

    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">ADE</label>
      <p  class="texto-info" >{{emprestimo?.ade}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">Valor financiado:</label>
      <p  class="texto-info" >{{emprestimo?.valorFinanciado | currency:'BRL':'symbol'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">Parcelas:</label>
      <p  class="texto-info" >{{emprestimo?.totalDeParcelas }}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">Parcelas restantes:</label>
      <p  class="texto-info" >{{emprestimo?.parcelasEmAberto }}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <label class="label-info" >Valor das parcelas:</label>
      <p  class="texto-info" >{{emprestimo?.valorPrestacao  | currency:'BRL':'symbol'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">Juros:</label>
      <p  class="texto-info"  >{{emprestimo?.jurosAoMes }}%</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">Saldo devedor:</label>
      <p  class="texto-info"  >{{emprestimo?.valorTotalFinanciamento | currency:'BRL':'symbol'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <label  class="label-info">Situação:</label>
      <p  class="texto-info"  >{{emprestimo?.situacao.descricao}}</p>
    </div>
  </div>
  </app-card>


  <app-card  [hidHeader]="true" >
    <h5 class="title-info">Dados da Portabilidade</h5>


    <div class="row view-basic-card">

      <div class="form-group col-12 col-md-3 col-lg-3">
        <label  class="label-info">Parcelas</label>
        <p  class="texto-info"  >{{portabilidade?.totalDeParcelas }}</p>
      </div>
      <div class="form-group col-12 col-md-3 col-lg-3">
        <label  class="label-info">Valor Parcela</label>
        <p  class="texto-info"  >{{portabilidade?.valorPrestacao }}</p>
      </div>

      <div class="form-group col-12 col-md-3 col-lg-3">
        <label  class="label-info">Juros Mensal</label>
        <p  class="texto-info"  >{{portabilidade?.jurosAoMes }}</p>
      </div>

      <div class="form-group col-12 col-md-3 col-lg-3">
        <label  class="label-info">CET</label>
        <p  class="texto-info"  >{{portabilidade?.cet }}</p>   
      </div>
       
    </div>

    <hr *ngIf="portabilidade.situacao.codigo == 1">
    <div class="col-12 col-md-12 col-lg-12 text-center" *ngIf="portabilidade.situacao.codigo == 1">
      <h5 style="display: block;" class="title-info">Informe o token de aceite da portabilidade</h5>
      <input maxlength="6" class="form-control" type="text" [(ngModel)]="tokenAverbacao"  style="display: inline; text-align: CENTER; text-transform: uppercase;  background-color: lemonchiffon; padding: 30px; height: 50px;width: 300px; font-size: 2.1rem;">
  </div>
  <hr>

    <div   class="text-center">
      <button type="submit" class="btn btn-light m-r-5" [routerLink]="['/pages/portabilidade']"  >Cancelar</button>
      <button  *ngIf="portabilidade.situacao.codigo == 1"  (click)= "aceitar()"  type="submit" class="btn btn-primary m-r-5">   Averbar Portabilidade</button>
    </div>
  

  </app-card>

