<div class="page-block" style="margin-bottom: 20px;">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="page-header-title f-18" style="float: left; color: #555 !important;">
        <h5>Categorias de Aviso</h5>
      </div>
      <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
        </li>
        <li class="breadcrumb-item active">
          Categorias de Aviso
        </li>

      </ul>
    </div>
  </div>
</div>


<app-card hidHeader="true">
  <a href="javascript:void();" [routerLink]="['/pages/avisos/categorias/novo']" class="btn btn-sm btn-primary" style="position: absolute; right: 25px;  margin-left: 5px; z-index: 999999;">Nova Categoria</a>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 850%;">Nome</th>
        <th style="width: 10%;">Situação</th>
        <th style="width: 5%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categoriasAviso">
        <td>{{c.nome}}</td>
        <td>{{c.ativo?'Ativa':'Inativa'}}</td>
        <td > <button (click)="detalhar(c)" type="button" class="btn  btn-sm btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button></td>
      </tr>
    </tbody>
  </table>

</app-card>
