  <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Empréstimos consignados</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/emprestimos']">Empréstimos</a>
              </li>
              <li class="breadcrumb-item active">
                Parcelas
              </li>

            </ul>
          </div>
        </div>
      </div>


      <app-card hidHeader="true"   >
        <table   class="table table-columned table-condensed " style="margin-top: 50px;">
          <thead>
            <tr>
              <th>Número</th>
              <th>Valor principal</th>
              <th>Juros/Multa</th>
              <th>Valor total</th>
              <th>Referência</th>
              <th>Paga</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parcela of parcelas">
              <td>{{parcela.numero+1}}</td>
              <td>{{parcela.valorPrincipal | currency:'BRL'}}</td>
              <td>{{parcela.juros || '0' | currency:'BRL'}}</td>
              <td>{{parcela.valorTotal  || parcela.valorPrincipal | currency:'BRL'}}</td>
              <td>{{parcela.dataVencimento}}</td>
              <td>{{parcela.paga?'Sim':'Não'}}</td>

            </tr>
          </tbody>
        </table>


        <hr>

        <div   class="text-center">
          <a  class="btn btn-light m-r-5"  href="javascript: history.go(-1);"  >Voltar</a>

        </div>

      </app-card>
