<div   style="position: absolute;  top: 23px; right: 23px;">
  <button title="Adicionar nova parcela" type="button" (click)="adicionarParcela()" class="btn btn-light m-r-5">    <i class="fa fa-plus"></i>   </button>
  <button  title="Importar arquivo de parcelas" type="button" class="btn btn-light m-r-5" (click)="openModal(uploadModal)">
    <i class="fa fa-upload"></i>  </button>
</div>

<form (ngSubmit)="saveOrUpdate()"  style="margin-top: 50px;">

  <div class="row">
      <div class="col-md-12">

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th style="width: 19%;">Parcelas</th>
              <th style="width: 19%;">Juros</th>
              <th style="width: 19%;">CET</th>
              <th style="width: 5%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produtoEmprestimo of configuracoesParcelas; let i = index ">
              <td>
                <input type="text" name="parcelas-{{i}}"  [(ngModel)]="produtoEmprestimo.parcelas" class="form-control" >
              </td>
              <td>
                <input type="text" name="juros-{{i}}"  [(ngModel)]="produtoEmprestimo.juros" class="form-control" >
              </td>
              <td>
                <input type="text" name="cet-{{i}}"  [(ngModel)]="produtoEmprestimo.cet" class="form-control"  >
              </td>

              <td style="vertical-align: middle;">
                <button class="btn btn-sm  btn btn-outline-danger" (click)="removeParcela(produtoEmprestimo.parcelas)">
                  <i class="fa fa-minus"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>

    </div>

  </div>
  <hr>

  <div   class="text-center">
    <button [routerLink]="['/pages/produtos']"  type="reset" class="btn btn-light m-r-5">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary m-r-5">   Salvar</button>
  </div>

</form>



<ng-template #uploadModal let-modal="close">
  <div class="modal-header">
      <h4 class="modal-title" style="font-size: 1.2rem;">Importar arquivo de configuração</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
     O arquivo importado deve serguir o layout do <b><a href="../../../../../arquivos/layout_importacao_parcelas_emprestimo.xlsx">Arquivo Modelo</a>, possuindo a configuração de uma parcela por linha</b>
    </div>
    <div class="alert alert-warning" role="alert">
      Ao importar um arquivo todos os dados ja cadastrados serão sobrescritos pelas informaçãoes do arquivo.
     </div>
<hr>
     <div class="row view-basic-card">
      <div class="form-group col-12 col-md-12 col-lg-12">
          <label for="nome" >Arquivo a ser importado</label>

            <ngx-dropzone (change)="onSelect($event)" [multiple]="false"   [maxFileSize]="51200000000"  >
              <ngx-dropzone-label>Solte aqui o arquivo ou clique para selecionar</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" style="margin-left: 29%;">
                <ngx-dropzone-label style="font-size: 0.8rem;"> {{ f.name }}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>


      </div>
    </div>

    <hr>

  <div   class="text-center">
    <button type="button" class="btn btn-light m-r-5" (click)="modal('Cross click')">Cancelar</button>
    <button (click)="importarArquivo()" type="button" class="btn btn-primary m-r-5">Importar arquivo</button>
  </div>
  </div>

</ng-template>
