<ul class="navbar-nav ml-auto">

  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
    {{usuario}}<i class="fas fa-chevron-down" style="font-size: 8px; margin-left: 4px; margin-top: 2px;"></i>
    <i class="mdi mdi-chevron-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <ul class="pro-body">

          <li><a href="javascript:" (click)="logout()" class="dropdown-item"><i class="feather icon-lock"></i> Encerrar sessão</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>

