
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Renegociação de Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
                <li class="breadcrumb-item ">Renegociação de Empréstimo Consignado </li>
            </ul>
          </div>
        </div>
      </div>
  <app-card  [hidHeader]="true" *ngIf="!enviada">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <span  placement="auto" style="padding-top: 27px; padding-left: 0px" class="hei-100 wid-100 bg-light d-inline-block mr-2 border border-success rounded-circle">
          <i class="feather icon-pocket f-48 " style="font-weight: lighter; color: teal;"></i>
        </span>
        <p style="margin-top: 10px; font-size: 1.2rem;">Valide as informações do Servidor e da Oferta antes de prosseguir.</p>

      </div>
    </div>
    <hr>

    <h5 class="title-info">Dados do Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Nome:</label>
        <p class="texto-info">{{servidor?.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cpf:</label>
        <p class="texto-info">{{servidor?.cpf}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Matrícula:</label>
        <p class="texto-info">{{servidor?.matricula || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Email:</label>
        <p class="texto-info">{{servidor?.email || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Telefone:</label>
        <p class="texto-info">{{servidor?.telefone || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Celular:</label>
        <p class="texto-info">{{servidor?.celular || 'Não informado'}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Lotação:</label>
        <p class="texto-info">{{servidor?.lotacao || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cargo:</label>
        <p class="texto-info">{{servidor?.cargo || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Renda mensal:</label>
        <p *ngIf="servidor?.rendaMensal" class="texto-info">{{servidor?.rendaMensal | currency:'BRL':'symbol'}}</p>
        <p *ngIf="!servidor?.rendaMensal" class="texto-info">Não disponível</p>

      </div>
    </div>
    <hr>
    <h5 class="title-info">Dados da Proposta</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Valor financiado:</label>
        <p  class="texto-info" >{{oferta?.valorEmprestimo  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Meses:</label>
        <p  class="texto-info" >{{oferta?.parcelas }}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info" >Valor das parcelas:</label>
        <p  class="texto-info" >{{oferta?.valorParcela  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Juros:</label>
        <p  class="texto-info"  >{{oferta?.jurosMensal}}%</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Valor total financiado:</label>
        <p  class="texto-info"  >{{oferta?.valorTotal  | currency:'BRL':'symbol'}}</p>
      </div>

    </div>
    <hr>
    <h5 class="title-info">Instruções ao Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-12 col-lg-12">
        <textarea class="form-control" rows="5" [(ngModel)]="observacoes"></textarea>
      </div>
    </div>

    <hr>
    <div  class="text-center">
      <button   [routerLink]="['/pages/dashboard']" type="button" class="btn btn-light m-r-5"  >Cancelar</button>
      <button type="button" class="btn btn-primary m-r-5" (click)="salvarProposta()"  >Confirmar</button>
    </div>
  </app-card>

  <app-card  [hidHeader]="true" *ngIf="enviada">

    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <span  placement="auto" style="padding-top: 27px; padding-left: 0px" class="hei-100 wid-100 bg-light d-inline-block mr-2 border border-success rounded-circle">
          <i class="feather icon-thumbs-up f-48 " style="font-weight: lighter; color: teal;"></i>
        </span>
        <p style="margin-top: 10px; font-size: 1.2rem;">Pronto! A proposta foi criada. </p>

      </div>
    </div>
    <hr>
    <div class="row view-basic-card ">
      <div class="col-12 col-md-12 text-center">
        <p> A proposta <span   class="badge m-r-5 badge-light-secondary ng-tns-c93-44 f-18">{{propostaCriada?.numeroProposta}}</span>foi criada e encaminhada para averbação.</p>
        <p> O token de averbação foi encaminhado para o email do servidor. </p>
      </div>
    </div>
    <hr>
    <div  class="text-center">
      <button [routerLink]="['/pages/dashboard']"type="button" class="btn btn-primary m-r-5"  >Finalizar</button>
    </div>
  </app-card>
