
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
            <h5> Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/emprestimos/']"> Empréstimo Consignado</a>
              </li>
                <li class="breadcrumb-item ">Anexos </li>
            </ul>
          </div>
        </div>
      </div>




  <app-card hidHeader="true">

    <h5 class="title-info">Empréstimo: <b>{{emprestimo.ade}}</b></h5>
    <a *ngIf="emprestimo.situacao.codigo == '1'"  href="javascript:void();" (click)="openModal(uploadModal)"  class="btn btn-sm btn-primary" style="position: absolute; right: 25px;  margin-left: 5px; z-index: 999999;">Adicionar Documento</a>

    <table class="table table-hover table-bordered " style="margin-top: 50px;">
      <thead>
        <tr>
          <th style="width: 850%;">Nome</th>
          <th style="width: 10%;">Data de cadastro</th>
          <th style="width: 5%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documento of documentos" >
          <td>{{documento.nome}}</td>
          <td>{{documento.dataCadastro}}</td>
          <td > <button  type="button" (click)="download(documento)" class="btn  btn-sm btn-icon btn-outline-info"><i class="fa fa-download"></i></button></td>
        </tr>
      </tbody>
    </table>

    <hr>

  <div   class="text-center">
    <a href="javascript:history.go(-1);" class="btn btn-light m-r-5" >Voltar</a>

  </div>

  </app-card>

<ng-template #uploadModal let-modal="close">
  <div class="modal-header text-center">
      <h5 class="modal-title" style="font-size: 1.2rem;">Adicionar Documento</h5>
  </div>
  <div class="modal-body">
    <div class="row view-basic-card">

      <div class="form-group col-12 col-md-12 col-lg-12">
        <label class="required" for="titulo">Nome</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="fileName" >
      </div>
      <div class="form-group col-12 col-md-12 col-lg-12">
        <label class="required" for="titulo">Arquivo</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" multiple="false"  id="importFile" (change)="onSelect($event.target.files)">
          <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> {{label}}}</label>
        </div>
      </div>

    </div>
    <hr>

  <div class="text-center">
    <button type="button" class="btn btn-light m-r-5" (click)="modal('Cross click')">Cancelar</button>
    <button  (click)="adicionarArquivos()" type="button" class="btn btn-primary m-r-5">Adicionar</button>
  </div>
  </div>

</ng-template>

