
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Proposta de Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/propostas/emprestimos/consulta']">Proposta de Empréstimo Consignado</a>
              </li>
                <li class="breadcrumb-item ">{{operacao}} </li>
            </ul>
          </div>
        </div>
      </div>

  <app-card  [hidHeader]="true"  >

    <h5 class="title-info">Dados do Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Nome:</label>
        <p class="texto-info">{{proposta.servidor?.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cpf:</label>
        <p class="texto-info">{{proposta.servidor?.cpf}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Matrícula:</label>
        <p class="texto-info">{{proposta.servidor?.matricula || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Email:</label>
        <p class="texto-info">{{proposta.servidor?.email || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Telefone:</label>
        <p class="texto-info">{{proposta.servidor?.telefone || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Celular:</label>
        <p class="texto-info">{{proposta.servidor?.celular || 'Não informado'}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Lotação:</label>
        <p class="texto-info">{{proposta.servidor?.lotacao || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cargo:</label>
        <p class="texto-info">{{proposta.servidor?.cargo || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Renda mensal:</label>
        <p *ngIf="proposta.servidor?.rendaMensal" class="texto-info">{{proposta.servidor?.rendaMensal | currency:'BRL':'symbol'}}</p>
        <p *ngIf="!proposta.servidor?.rendaMensal" class="texto-info">Não disponível</p>

      </div>
    </div>
    <hr>
    <h5 class="title-info">Dados da Proposta</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Valor financiado:</label>
        <p  class="texto-info" >{{proposta?.valorLiberado | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Meses:</label>
        <p  class="texto-info" >{{proposta?.parcelas }}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info" >Valor das parcelas:</label>
        <p  class="texto-info" >{{proposta?.valorPrestacao  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Juros:</label>
        <p  class="texto-info"  >{{proposta?.jurosMes}}%</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Valor total financiado:</label>
        <p  class="texto-info"  >{{proposta?.valorTotal  | currency:'BRL':'symbol'}}</p>
      </div>

    </div>

    <hr>
    <div class="row">
       <div class="col-12 col-md-12 col-lg-12 text-center">
          <h5 style="display: block;" class="title-info">Motivo {{labelOperacao}}</h5>
          <textarea rows="8" class="form-control" type="text" [(ngModel)]="motivoOcorrencia"></textarea>
        </div>
    </div>
    <hr>
    <div  class="text-center">
      <button   (click)="cancelar()" type="button" class="btn btn-light m-r-5"  >Cancelar</button>
      <button  (click)="confirmarGravacaoOcorrencia()"  type="button" class="btn btn-primary m-r-5"  >Confirmar</button>


    </div>
    </app-card>
