<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">
        
        <h1 class="text-white my-4">Portal da Consignatária</h1>
        <h4 class="text-white font-weight-normal"></h4>
      </div>
    </div>

    <div class="auth-side-form">

      <app-alert type="danger" *ngIf="erro" style="position: fixed; top: 200px; right: 30px; width: 343px; text-align: center;">Usuário/Senha inválidos.</app-alert>

      <div class=" auth-content">
        <form  name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <h3 class="mb-4 f-w-400">Acessar Sistema</h3>
        <div class="input-group mb-3">
          <input type="text" formControlName="usuario" class="form-control" placeholder="Usuário"
          [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" id="usuario"/>
          <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
            <div *ngIf="f.usuario.errors.required">Informe seu usuário</div>
          </div>
        </div>
        <div class="input-group mb-4">
          <input type="password" formControlName="senha" class="form-control" placeholder="Senha"
          [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" id="senha"  />


          <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
            <div *ngIf="f.senha.errors.required">Informe sua senha</div>
          </div>
        </div>
        <button  class="btn btn-info btn-block" type="submit">Entrar</button>
      </form>
      </div>
    </div>

  </div>
</div>
