

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Propostas de Cartão</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                Propostas de Cartão
              </li>

            </ul>
          </div>
        </div>
      </div>

      <app-card hidHeader="true">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputPassword4" class="col-form-label">Número da proposta</label>
            <input type="text"  maxlength="10" [(ngModel)]="filtroPesquisa.numero"  class="form-control" >
        </div>
        <div class="form-group col-md-5">
          <label for="inputEmail4" class="col-form-label">Servidor</label>
          <ng-select [items]="servidores"  bindLabel="matricula" bindValue="pk"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione o Servidor"
          [(ngModel)]="filtroPesquisa.servidor" ></ng-select>
      </div>
      <div class="form-group col-md-5">
          <label for="inputPassword4" class="col-form-label">Situação</label>
          <ng-select [items]="situacoes"  bindLabel="descricao" bindValue="codigo"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Situação"
          [(ngModel)]="filtroPesquisa.situacao"></ng-select>
      </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 text-right">
              <button (click)="pesquisar()" class="btn btn-sm btn-primary">Aplicar filtros</button>
          </div>
        </div>
    </app-card>



<app-card hidHeader="true">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 40%;">Número</th>
        <th style="width: 20%;">Situação</th>
        <th style="width: 15%;">Servidor</th>
        <th style="width: 15%;">Expiração</th>
        <th style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposta of propostas">
        <td  >{{proposta.numeroProposta}}</td>
        <td  >{{proposta.situacao?.descricao }}</td>
        <td  >{{proposta.servidor.cpf | mask:  "000.000.000-00"}} - {{proposta.servidor.nome}} </td>
        <td  >{{proposta.dataValidadeProposta}}</td>
        <td > <button (click)="detalhar(proposta)" type="button" class="btn  btn-sm btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button></td>
      </tr>
    </tbody>
  </table>

</app-card>
