<form (ngSubmit)="saveOrUpdate()"  [formGroup]="formCadastro"  >

  <input type="hidden" name="pk" id="pk"
  class="form-control"  formControlName="pk">


<div class="row">

  <div class="form-group  col-lg-6">
    <label class="required">Coeficiente multiplicador</label>
    <input type="number" name="multipladorLimiteCartao" id="multipladorLimiteCartao"
          class="form-control"  formControlName="multipladorLimiteCartao"
          [ngClass]="{ 'is-invalid': form.multipladorLimiteCartao.errors  && submitted}"> 
          <span *ngIf="form.multipladorLimiteCartao.errors && submitted" class="invalid-feedback error">
            <span *ngIf="form.multipladorLimiteCartao.errors.required">Campo obrigatório.</span>
            </span>
</div>

  <div class="form-group  col-lg-6">
      <label class="required">Percentual de saque</label>
          <div class="input-group mb-3">
            <input min="1" max="100" type="number" name="percentualSaqueCartao" id="percentualSaqueCartao"
            formControlName="percentualSaqueCartao" class="form-control"  
            [ngClass]="{ 'is-invalid': form.percentualSaqueCartao.errors  && submitted}"> 
            <span *ngIf="form.percentualSaqueCartao.errors && submitted" class="invalid-feedback error">
              <span *ngIf="form.percentualSaqueCartao.errors.required">Campo obrigatório.</span>
              </span>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>

  </div>


  <div class="form-group  col-lg-6">
      <label class="required">Juros mensal </label>
      
      <div class="input-group mb-3">
        <input min="1" max="100" type="number" name="juros" id="juros"
        formControlName="juros" class="form-control"  
        [ngClass]="{ 'is-invalid': form.juros.errors  && submitted}"> 
        
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">%</span>
        </div>
        <span *ngIf="form.juros.errors && submitted" class="invalid-feedback error">
          <span *ngIf="form.juros.errors.required">Campo obrigatório.</span>
          </span>
      </div>
      

  </div>

  <div class="form-group  col-lg-6">
      <label class="required">Juros anual </label>

      <div class="input-group mb-3">
        <input type="number" formControlName="jurosAnual"   class="form-control"  id="jurosAnual"  name="jurosAnual" 
        [ngClass]="{ 'is-invalid': form.jurosAnual.errors  && submitted}"> 
        <span *ngIf="form.jurosAnual.errors && submitted" class="invalid-feedback error">
          <span *ngIf="form.jurosAnual.errors.required">Campo obrigatório.</span>
          </span>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">%</span>
        </div>
      </div>
  </div>

</div>
<hr>

<div   class="text-center">
  <button [routerLink]="['/pages/produtos']"  type="reset" class="btn btn-light m-r-5">
    Cancelar
  </button>
  <button type="submit" class="btn btn-primary m-r-5">   Salvar</button>
</div>

</form>
