
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Proposta de Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
                <li class="breadcrumb-item ">Proposta de Empréstimo Consignado </li>
            </ul>
          </div>
        </div>
      </div>


    <app-card  [hidHeader]="true" >

      <div class="row view-basic-card">
      <div class="form-inline ng-untouched ng-pristine ng-valid ng-tns-c93-98">
        <div  class="form-group mx-sm-3 mb-2">
          <input  [(ngModel)]="chave"  type="search" id="chave" placeholder="CPF ou Matrícula:" class="form-control">
        </div>
        <button  (click)="pesquisarServidor()" type="button" class="btn btn-primary mb-2">OK</button>
      </div>
      </div>

    </app-card>

    <div class="alert alert-danger" role="alert" *ngIf="servidor && (servidor.margemEmprestimoDisponivel <=0)">
      Servidor não possui margem consignável disponível para realizar novas propostas.
     </div>

    <app-card  [hidHeader]="true" *ngIf="servidor">

      <div class="row" >
        <div class="col-12 col-sm-12 text-center">
          <span class=" f-24 text-c-teal" style="font-weight: 700;">{{servidor.nome}}</span>
          </div>
    </div>

      <hr >

       <div class="row" >
         <div class="col-12 col-sm-3 text-center">
          <h3  class="m-0" style="font-weight: 400;">{{servidor.margemEmprestimo | currency:'BRL':'symbol'}}</h3>
          <span  class="text-c-green">Margem Total</span>
         </div>
         <div class="col-12 col-sm-3 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{servidor.margemEmprestimoDisponivel | currency:'BRL':'symbol'}}</h3>
          <span   class="text-c-yellow">Margem Disponível</span>
        </div>
        <div class="col-12 col-sm-3 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{servidor.margemEmprestimoReservada || 0 | currency:'BRL':'symbol'}}</h3>
          <span  class="text-c-purple">Margem Reservada</span>
        </div>
        <div class="col-12 col-sm-3 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{(servidor.margemEmprestimo - (servidor.margemEmprestimoDisponivel +  servidor.margemEmprestimoReservada)  )   || 0 | currency:'BRL':'symbol'}}</h3>
          <span  class="text-c-red">Margem Comprometida</span>
        </div>

       </div>

    <hr>

      <div class="row view-basic-card">
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cpf:</label>
          <p class="texto-info">{{servidor.cpf}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Matrícula:</label>
          <p class="texto-info">{{servidor.matricula || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Email:</label>
          <p class="texto-info">{{servidor.email || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Telefone:</label>
          <p class="texto-info">{{servidor.telefone || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Celular:</label>
          <p class="texto-info">{{servidor.celular || 'Não informado'}}</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Lotação:</label>
          <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cargo:</label>
          <p class="texto-info">{{servidor.cargo || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Renda mensal:</label>
          <p *ngIf="servidor.rendaMensal"class="texto-info">{{servidor.rendaMensal | currency:'BRL':'symbol'}}</p>
          <p *ngIf="!servidor.rendaMensal" class="texto-info">Não disponível</p>

        </div>
      </div>

      <hr>

  <div   class="text-center">
    <button  [disabled]="servidor.margemEmprestimoDisponivel <=0"   type="button" class="btn btn-primary m-r-5" (click)="simulacao()"  >Gerar Proposta</button>
  </div>

    </app-card>

