
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Detalhar Entidade Consignatária</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/consignatarias']"  >Entidade Consignatária</a>
              </li>
                <li class="breadcrumb-item ">Detalhar</li>
            </ul>
          </div>
        </div>
      </div>



<app-card  [hidHeader]="true">



  <h5 class="title-info">Informações gerais</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-12 col-lg-12">
      <label class="label-info">Razão Social:</label>
      <p class="texto-info">{{consignataria.nome || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Nome Fantasia:</label>
      <p class="texto-info">{{consignataria.nomeFantasia || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Cnpj:</label>
      <p class="texto-info">{{consignataria.cnpj | mask: "00.000.000/0000-00"}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Email:</label>
      <p class="texto-info">{{consignataria.email || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Telefone:</label>
      <p class="texto-info">{{consignataria.telefone || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Presidente:</label>
      <p class="texto-info">{{consignataria.presidente || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Início do Contrato:</label>
      <p class="texto-info">{{consignataria.dtInicioContrato || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Fim do Contrato:</label>
      <p class="texto-info">{{consignataria.dtFimContrato || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Site:</label>
      <p class="texto-info">{{consignataria.site || 'Não informado'}}</p>
    </div>

  </div>

  <hr>

  <h5 class="title-info">Endereço</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Logradouro:</label>
      <p class="texto-info">{{consignataria.logradouro || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Complemento:</label>
      <p class="texto-info">{{consignataria.complemento || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Bairro:</label>
      <p class="texto-info">{{consignataria.bairro || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">CEP:</label>
      <p class="texto-info">{{consignataria.cep || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Cidade:</label>
      <p class="texto-info">{{consignataria.localidade || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Estado:</label>
      <p class="texto-info">{{consignataria.estado?.descricao || 'Não informado'}}</p>
    </div>

  </div>

  <hr>

  <h5 class="title-info">Representante</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Nome  :</label>
      <p class="texto-info">{{consignataria.nomeRepresentante|| 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Email:</label>
      <p class="texto-info">{{consignataria.emailRepresentante || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Telefone:</label>
      <p class="texto-info">{{consignataria.telefoneRepresentante || 'Não informado'}}</p>
    </div>
  </div>

  <hr>

  <h5 class="title-info">Ouvidoria</h5>

  <div class="row view-basic-card">

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Email :</label>
      <p class="texto-info">{{consignataria.emailOuvidoria || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Site:</label>
      <p class="texto-info">{{consignataria.siteOuvidoria || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">DDG:</label>
      <p class="texto-info">{{consignataria.ddgOuvidoria || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Telefone:</label>
      <p class="texto-info">{{consignataria.telefoneOuvidoria || 'Não informado'}}</p>
    </div>
  </div>
  <hr>
  <h5 class="title-info">Dados bancários para recebimento de saldo devedor</h5>

  <div class="row view-basic-card">
    <div class="form-group col-12 col-md-12 col-lg-12">
      <label   class="label-info">Banco</label>
      <p class="texto-info" *ngIf="consignataria.numeroBanco">{{consignataria.numeroBanco}} - {{consignataria.nomeBanco}}</p>
      <p class="texto-info" *ngIf="!consignataria.numeroBanco">Não informado</p>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label   class="label-info" >Agência</label>
      <p class="texto-info">{{consignataria.agencia || 'Não informado'}} </p>

    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label  class="label-info" >Conta</label>
      <p class="texto-info">{{consignataria.conta || 'Não informado'}} </p>

    </div>
    <div class="form-group col-12 col-md-6 col-lg-6 ">
      <label  class="label-info" >Favorecido</label>
      <p class="texto-info">{{consignataria.favorecido || 'Não informado'}} </p>

    </div>

  </div>

  <hr>

  <div   class="text-center">
    <button type="submit" class="btn btn-primary m-r-5" (click)="atualizarDados(consignataria)"  >Atualizar Dados</button>
  </div>


</app-card>

