

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>{{operacao}} Aviso</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/consignatarias']"  >Aviso</a>
              </li>
                <li class="breadcrumb-item ">{{operacao}} </li>
            </ul>
          </div>
        </div>
      </div>



<app-card  [hidHeader]="true">
  <form (ngSubmit)="saveOrUpdate()"  [formGroup]="formCadastro"  >
    <input type="hidden" formControlName="pk">
    <input type="hidden" formControlName="versao">


  <h5 class="title-info">Informações gerais</h5>
  <div class="row view-basic-card">

    <div class="form-group col-12 col-md-8 col-lg-8">
      <label class="required" for="titulo">Titulo</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo" >
    </div>

    <div class="form-group col-12 col-md-4 col-lg-4"  *ngIf="id">
      <label style="display: block;">Situação</label>

      <div style="margin-top: 5px;" class="custom-control custom-radio custom-control-inline">
        <input  type="radio"   name="ativo" class="custom-control-input"  id="ativo1" formControlName="ativo"  value="true">
        <label   style="font-weight: 700;"   for="ativo1" class="custom-control-label">Ativo</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input  type="radio"  name="ativo" class="custom-control-input"  id="ativo2" formControlName="ativo"  value="false">
        <label  style="font-weight: 700;"  for="ativo2" class="custom-control-label">Inativo</label>
      </div>

    </div>

    <div class="form-group col-12 col-md-6 col-lg-6">
      <label class="required" for="categoria">Categoria</label>
      <ng-select [items]="categorias"  bindLabel="nome"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Categoria:"
      formControlName="categoria">
      </ng-select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-6">
      <label class="required" for="destinatarioAviso">Destinatários</label>
      <ng-select [items]="destinatarios"  bindLabel="descricao"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Visível para:"
      formControlName="destinatarioAviso">
      </ng-select>
    </div>

    <div class="form-group col-12 col-md-12 col-lg-12">
      <label class="required" for="mensagem">Mensagem</label>
      <textarea rows="10" class="form-control" formControlName="mensagem"></textarea>
    </div>



  </div>

  <hr>

  <div   class="text-center">
    <button type="submit" class="btn btn-light m-r-5" [routerLink]="['/pages/avisos']"  >Cancelar</button>
    <button type="submit" class="btn btn-primary m-r-5">   Salvar</button>
  </div>

</form>
</app-card>

