
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
            <h5> Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/emprestimos/']"> Empréstimo Consignado</a>
              </li>
                <li class="breadcrumb-item ">Suspender </li>
            </ul>
          </div>
        </div>
      </div>
  <app-card  [hidHeader]="true"  >

    <h5 class="title-info">Dados do Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Nome:</label>
        <p class="texto-info">{{emprestimo.servidor?.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cpf:</label>
        <p class="texto-info">{{emprestimo.servidor?.cpf | mask: "000.000.000-00"}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Matrícula:</label>
        <p class="texto-info">{{emprestimo.servidor?.matricula || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Email:</label>
        <p class="texto-info">{{emprestimo.servidor?.email || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Telefone:</label>
        <p class="texto-info">{{emprestimo.servidor?.telefone || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Celular:</label>
        <p class="texto-info">{{emprestimo.servidor?.celular || 'Não informado'}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Lotação:</label>
        <p class="texto-info">{{emprestimo.servidor?.lotacao || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cargo:</label>
        <p class="texto-info">{{emprestimo.servidor?.cargo || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Renda mensal:</label>
        <p *ngIf="emprestimo.servidor?.rendaMensal" class="texto-info">{{emprestimo.servidor?.rendaMensal | currency:'BRL':'symbol'}}</p>
        <p *ngIf="!emprestimo.servidor?.rendaMensal" class="texto-info">Não disponível</p>

      </div>
    </div>
    <hr>
    <h5 class="title-info">Dados da emprestimo</h5>

    <div class="row view-basic-card">

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">ADE</label>
        <p  class="texto-info" >{{emprestimo?.ade}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Valor financiado:</label>
        <p  class="texto-info" >{{emprestimo?.valorFinanciado | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas:</label>
        <p  class="texto-info" >{{emprestimo?.totalDeParcelas }}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas restantes:</label>
        <p  class="texto-info" >{{emprestimo?.parcelasEmAberto }}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label class="label-info" >Valor das parcelas:</label>
        <p  class="texto-info" >{{emprestimo?.valorPrestacao  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Juros:</label>
        <p  class="texto-info"  >{{emprestimo?.jurosAoMes }}%</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Saldo devedor:</label>
        <p  class="texto-info"  >{{emprestimo?.valorTotalFinanciamento | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Situação:</label>
        <p  class="texto-info"  >{{emprestimo?.situacao.descricao}}</p>
      </div>


    </div>
    <hr>
    <h5 class="title-info">Dados da liquidação</h5>

    <div class="row view-basic-card">

      <div class="form-group col-12 col-md-6 col-lg-4">
        <label for="dtInicioContrato">Data de liquidação</label>
        <div class="input-group clockpicker">
            <input ngbDatepicker id="dtInicioContrato"  (focus)="di.toggle()"  [(ngModel)]="dataLiquidacao" class="form-control"  #di="ngbDatepicker">
            <div class="input-group-append" (click)="di.toggle()">
              <span class="input-group-text"><i class="feather icon-calendar"></i></span>
            </div>
          </div>

      </div>

      <div class="col-12 col-md-6 col-lg-12">
        <label >Observações</label>
        <textarea rows="8" class="form-control" type="text" [(ngModel)]="observacoes"></textarea>
      </div>
    </div>



    <hr>
    <div  class="text-center">
      <a  href="javascript:history.go(-1);"  type="button" class="btn btn-light m-r-5"  >Cancelar</a>

      <button  *ngIf="emprestimo.situacao.codigo == '1'" (click)="suspender()" type="button" class="btn btn-primary m-r-5" >Confirmar</button>


    </div>
  </app-card>
