
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
            <h5> Cartão Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/cartoes/']"> Cartão Consignado</a>
              </li>
                <li class="breadcrumb-item ">Detalhar </li>
            </ul>
          </div>
        </div>
      </div>
  <app-card  [hidHeader]="true"  >


    <h5 class="title-info">Dados do Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Nome:</label>
        <p class="texto-info">{{cartao.servidor?.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cpf:</label>
        <p class="texto-info">{{cartao.servidor?.cpf | mask: "000.000.000-00"}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Matrícula:</label>
        <p class="texto-info">{{cartao.servidor?.matricula || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Email:</label>
        <p class="texto-info">{{cartao.servidor?.email || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Telefone:</label>
        <p class="texto-info">{{cartao.servidor?.telefone || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Celular:</label>
        <p class="texto-info">{{cartao.servidor?.celular || 'Não informado'}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Lotação:</label>
        <p class="texto-info">{{cartao.servidor?.lotacao || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cargo:</label>
        <p class="texto-info">{{cartao.servidor?.cargo || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Renda mensal:</label>
        <p *ngIf="cartao.servidor?.rendaMensal" class="texto-info">{{cartao.servidor?.rendaMensal | currency:'BRL':'symbol'}}</p>
        <p *ngIf="!cartao.servidor?.rendaMensal" class="texto-info">Não disponível</p>

      </div>
    </div>

    <hr>
    <h5 class="title-info">Dados da Consignatária</h5>
    <div class="row view-basic-card">

      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Consignatária</label>
        <p  class="texto-info" >{{cartao.consignataria.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Cnpj:</label>
        <p  class="texto-info" >{{cartao.consignataria.cnpj}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label  class="label-info">Email:</label>
        <p  class="texto-info" >{{cartao.consignataria.email}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <label  class="label-info">Ouvidoria:</label>
        <p  class="texto-info" >{{cartao.consignataria.siteOuvidoria}} - {{cartao.consignataria.telefoneOuvidoria}}</p>
      </div>

    </div>

    <hr>
    <h5 class="title-info">Dados da emprestimo</h5>

    <div class="row view-basic-card">

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">ADE</label>
        <p  class="texto-info" >{{cartao?.ade}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Limite:</label>
        <p  class="texto-info" >{{cartao?.valorLimiteCartao | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas:</label>
        <p  class="texto-info" >{{cartao?.percentualSaqueCartao }}%</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas restantes:</label>
        <p  class="texto-info" >{{cartao?.valorSaqueCartao  | currency:'BRL':'symbol'}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label class="label-info" >Valor das parcelas:</label>
        <p  class="texto-info" >{{cartao?.jurosMes }}%</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Juros:</label>
        <p  class="texto-info"  >{{cartao?.jurosAno }}%</p>
      </div>

    </div>

    <hr>
    <div  class="text-center">
      <button   [routerLink]="['/pages/cartoes']" type="button" class="btn btn-light m-r-5"  >Voltar</button>
      <button   (click)="anexos()" type="button" class="btn   btn-secondary  m-r-5"  >Anexos</button>


    </div>
  </app-card>
