 

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Portabilidade de Empréstimos</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                Portabilidade de Empréstimos
              </li>

            </ul>
          </div>
        </div>
      </div>



      <app-card hidHeader="true">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label   class="col-form-label">Tipo</label>
            <ng-select [items]="tiposRegistro"  bindLabel="descricao" bindValue="codigo"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Tipo de Portabilidade"
          [(ngModel)]="filtroPesquisa.tipo"></ng-select>
        </div>
        <div class="form-group col-md-4">
          <label   class="col-form-label">Servidor</label>
          <ng-select [items]="servidores"  bindLabel="matricula" bindValue="pk"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione o Servidor"
          [(ngModel)]="filtroPesquisa.servidor" ></ng-select>
      </div>
      <div class="form-group col-md-4">
          <label  class="col-form-label">Situação</label>
          <ng-select [items]="situacoes"  bindLabel="descricao" bindValue="codigo"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Situação"
          [(ngModel)]="filtroPesquisa.situacao"></ng-select>
      </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 text-right">
              <button (click)="pesquisar()" class="btn btn-sm btn-primary">Aplicar filtros</button>
          </div>
        </div>
    </app-card>



    <app-card hidHeader="true">

    
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
        <thead>
        <tr>
            <th style="width: 15%;">Matrícula</th>
            <th style="width: 15%;">ADE</th>
            <th style="width: 30%;">Proponente</th>
            <th style="width: 15%;">Original</th>
            <th style="width: 10%;">Situação</th>
            <th style="width: 5%;"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let portabilidade of portabilidades">
            <td  >{{portabilidade.emprestimo.servidor.matricula}}</td>
            <td  >{{portabilidade.emprestimo.ade}}</td>
            <td  >{{portabilidade.consignataria.nome}} </td>
            <td  >{{portabilidade.emprestimo.consignataria.nome}}</td>
            <td  >{{portabilidade.situacao?.descricao || 'sem registro'}}</td>
            <td >
    
             <div class="btn-group mb-2 mr-2 dropdown" ngbDropdown placement="auto">
            <button (click)="detalhar(portabilidade)" type="button" class="btn btn-icon btn-outline-success ng-tns-c93-84"><i class="feather icon-check-circle"></i></button>            
          </div>
            </td>
          </tr>
        </tbody>
    </table>

    </app-card>
