

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>{{operacao}} Entidade Consignatária</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/consignatarias']"  >Entidade Consignatária</a>
              </li>
                <li class="breadcrumb-item ">{{operacao}} </li>
            </ul>
          </div>
        </div>
      </div>



<app-card  [hidHeader]="true">
  <form (ngSubmit)="saveOrUpdate()"  [formGroup]="formCadastro"  >
    <input type="hidden" formControlName="pk">
    <input type="hidden" formControlName="versao">


  <h5 class="title-info">Informações gerais</h5>
  <div class="row view-basic-card">

    <div class="form-group col-12 col-md-12 col-lg-12">
      <label class="required" for="nome">Razão Social</label>
      <input type="text" class="form-control" id="nome" formControlName="nome"
      [ngClass]="{ 'is-invalid': form.nome.errors  && submitted}" >
      <span *ngIf="form.nome.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.nome.errors.required">Campo obrigatório.</span>
        </span>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-8"  >
      <label for="nomeFantasia">Nome Fantasia</label>
      <input type="text" class="form-control" id="nomeFantasia" formControlName="nomeFantasia" >
    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label class="required"  for="cnpj">CNPJ</label>
      <input type="text" class="form-control" id="cnpj" formControlName="cnpj" maxlength="18"  mask="00.000.000/0000-00"
      [ngClass]="{ 'is-invalid': form.cnpj.errors  && submitted}" >
      <span *ngIf="form.cnpj.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.cnpj.errors.required">Campo obrigatório.</span>
        <span *ngIf="form.cnpj.errors.cnpjvalidator">CNPJ inválido.</span>
      </span>

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label class="required"  for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email"
      [ngClass]="{ 'is-invalid': form.email.errors  && submitted}" >
      <span *ngIf="form.email.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.email.errors.required">Campo obrigatório.</span>
        </span>
    </div>

    <div class="form-group col-12 col-md-6 col-lg-4">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" id="telefone" formControlName="telefone" >
    </div>

    <div class="form-group col-12 col-md-6 col-lg-4">
      <label for="presidente">Presidente</label>
      <input type="text" class="form-control" id="presidente" formControlName="presidente" >
    </div>

    <div class="form-group col-12 col-md-6 col-lg-4">
      <label for="dtInicioContrato">Início do Contrato</label>
      <div class="input-group clockpicker">
          <input ngbDatepicker id="dtInicioContrato"  (focus)="di.toggle()" formControlName="dtInicioContrato" class="form-control"  #di="ngbDatepicker">
          <div class="input-group-append" (click)="di.toggle()">
            <span class="input-group-text"><i class="feather icon-calendar"></i></span>
          </div>
        </div>

    </div>

    <div class="form-group col-12 col-md-6 col-lg-4">
      <label for="dtFimContrato">Fim do Contrato</label>
      <div class="input-group clockpicker">
        <input ngbDatepicker   (focus)="df.toggle()" id="dtFimContrato" formControlName="dtFimContrato" class="form-control"   #df="ngbDatepicker">
        <div class="input-group-append" (click)="df.toggle()">
          <span class="input-group-text"><i class="feather icon-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group col-12 col-md-6 col-lg-4">
      <label for="site">Site</label>
      <input type="text" class="form-control" id="site" formControlName="site">
    </div>

  </div>

  <hr>

  <h5 class="title-info">Endereço</h5>

  <div class="row view-basic-card">
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label >Logradouro</label>
      <input type="text" class="form-control" id="logradouro" formControlName="logradouro" >
    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Complemento</label>
      <input type="text" class="form-control" id="complemento" formControlName="complemento" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Bairro</label>
      <input type="text" class="form-control" id="bairro" formControlName="bairro" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label > CEP</label>
      <input type="text" class="form-control" id="cep" formControlName="cep"  mask="00000-000">

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label >Cidade</label>
      <input type="text" class="form-control" id="localidade" formControlName="localidade" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Estado</label>
      <ng-select [items]="estados"  bindLabel="descricao"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione o Estado"
      formControlName="estado">
    </ng-select>
    </div>

  </div>

  <hr>

  <h5 class="title-info">Representante</h5>

  <div class="row view-basic-card">
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Nome</label>
      <input type="text" class="form-control" id="nomeRepresentante" formControlName="nomeRepresentante" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Email</label>
      <input type="text" class="form-control" id="emailRepresentante" formControlName="emailRepresentante" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Telefone</label>
      <input type="text" class="form-control" id="telefoneRepresentante" formControlName="telefoneRepresentante" >

    </div>

  </div>

  <hr>

  <h5 class="title-info">Ouvidoria</h5>

  <div class="row view-basic-card">
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Email</label>
      <input type="text" class="form-control" id="emailOuvidoria" formControlName="emailOuvidoria" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Site</label>
      <input type="text" class="form-control" id="siteOuvidoria" formControlName="siteOuvidoria" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >DDG</label>
      <input type="text" class="form-control" id="ddgOuvidoria" formControlName="ddgOuvidoria" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label  >Telefone</label>
      <input type="text" class="form-control" id="telefoneOuvidoria" formControlName="telefoneOuvidoria" >

    </div>

  </div>

  <hr>

  <h5 class="title-info">Dados bancários para recebimento de saldo devedor</h5>

  <div class="row view-basic-card">
    <div class="form-group col-12 col-md-12 col-lg-12">
      <label >Banco</label>
      <ng-select [items]="bancos"  bindLabel="label"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione o Banco"
      formControlName="banco">
    </ng-select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label  >Agência</label>
      <input type="text" class="form-control" id="agencia" formControlName="agencia" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label  >Conta</label>
      <input type="text" class="form-control" id="conta" formControlName="conta" >

    </div>
    <div class="form-group col-12 col-md-6 col-lg-6 ">
      <label  >Favorecido</label>
      <input type="text" class="form-control" id="favorecido" formControlName="favorecido" >

    </div>

  </div>

  <hr>

  <div   class="text-center">
    <button type="submit" class="btn btn-light m-r-5" [routerLink]="['/pages/consignataria']"  >Cancelar</button>
    <button type="submit" class="btn btn-primary m-r-5">   Salvar</button>
  </div>

</form>
</app-card>

