
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Usuários</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item ">Usuários</li>
            </ul>
          </div>
        </div>
      </div>


<app-card hidHeader="true" *ngIf="!semAcesso">
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputPassword4" class="col-form-label">Nome</label>
      <input type="text" [(ngModel)]="filtroPesquisa.nome"  class="form-control" >
  </div>

    <div class="form-group col-md-4">
        <label for="inputPassword4" class="col-form-label">CPF</label>
        <input type="text" [(ngModel)]="filtroPesquisa.cpf"  class="form-control"   mask="000.000.000-00">
    </div>


  </div>
  <div class="form-row">
    <div class="form-group col-md-12 text-right">
        <button (click)="pesquisar()" class="btn btn-sm btn-primary">Aplicar filtros</button>
    </div>
  </div>
</app-card>

<app-card hidHeader="true" *ngIf="!semAcesso">
  <a href="javascript:void();" [routerLink]="['/pages/usuarios/novo']" class="btn btn-sm btn-primary" style="position: absolute; right: 25px;  margin-left: 5px; z-index: 999999;">Novo Usuário</a>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 40%;">Nome</th>
        <th style="width: 20%;">CPF</th>
        <th style="width: 15%;">Perfil</th>
        <th style="width: 15%;">Situação</th>
        <th style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of usuarios">
        <td>{{c.nome}}</td>
        <td>{{c.cpf | mask: "000.000.000-00"}}</td>
        <td >{{c.master? 'Master': 'Operador'}} </td>
        <td>{{c.situacao?.descricao}}</td>

        <td > <button (click)="edita(c)" type="button" class="btn  btn-sm btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button></td>
      </tr>
    </tbody>
  </table>

</app-card>

