

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Ativação de Produto </h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/produtos']"  >Produtos</a>
              </li>
                <li class="breadcrumb-item ">Ativação</li>
            </ul>
          </div>
        </div>
      </div>


    <app-card  [hidHeader]="true">
      <div class="row view-basic-card">


    <div class="form-group col-12 col-md-6 col-lg-6">
      <label class="required" for="enderecoIp">Produto</label>
      <ng-select  [items]="produtos"  bindLabel="descricao"   [closeOnSelect]="true" dropdownPosition="auto"
      [(ngModel)]="produtoSelecionado" accesskey="">
    </ng-select>
    </div>

      </div>

    </app-card>

    <app-card  [hidHeader]="true" *ngIf="produtoSelecionado &&  produtoSelecionado.codigo === 'C'">
        <app-configuracao-cartao></app-configuracao-cartao>
    </app-card>


    <app-card  [hidHeader]="true" *ngIf="produtoSelecionado && produtoSelecionado.codigo === 'E'">
       <app-configuracao-emprestimo></app-configuracao-emprestimo>
    </app-card>


    <app-card  [hidHeader]="true" *ngIf="produtoSelecionado && produtoSelecionado.codigo === 'R'">
      <app-configuracao-renegociacao-emprestimo></app-configuracao-renegociacao-emprestimo>
    </app-card>