

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Atuallização de Produto </h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/produtos']"  >Produtos</a>
              </li>
                <li class="breadcrumb-item ">Atualizar</li>
            </ul>
          </div>
        </div>
      </div>

    <app-card [hidHeader]="true" *ngIf="produto === 'C'">
        <app-configuracao-cartao [produto]="id"></app-configuracao-cartao>
    </app-card>
    
    <app-card  [hidHeader]="true" *ngIf="produto === 'E'">
       <app-configuracao-emprestimo [produto]="id"></app-configuracao-emprestimo>
    </app-card>

    <app-card  [hidHeader]="true" *ngIf="produto === 'R'">
      <app-configuracao-renegociacao-emprestimo [produto]="id"></app-configuracao-renegociacao-emprestimo>
    </app-card>


