

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Detalhar servidor</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/servidores']"  >Servidores</a>
              </li>
                <li class="breadcrumb-item ">Detalhar</li>
            </ul>
          </div>
        </div>
      </div>



<app-card  [hidHeader]="true">

  <div class="header-perfil-servidor">
    <img src="assets/images/user/avatar-4.jpg" class="img-radius img-perfil-servidor" style="  width: 130px; height: auto;" >
    <p class=" f-24" style="    position: absolute;  top: 50px;  left: 180px;" >{{servidor.nome}}</p>
    <p class="f-18" style="    position: absolute;  top: 90px;  left: 180px;" >{{servidor.cargo || 'Não informado'}}</p>
    <div *ngIf="servidor.situacao" style="position: absolute; right: 25px; top: 130px;" >
      <span  *ngIf="servidor.situacao.codigo == 'A'" class="badge m-r-5 badge-success f-14">Ativo</span>
      <span *ngIf="servidor.situacao.codigo == 'C'"  class="badge m-r-5 badge-danger f-14">Cancelado</span>
      <span  *ngIf="servidor.situacao.codigo == 'B'" class="badge m-r-5 badge-warning f-14">Bloqueado</span>
       <span  *ngIf="servidor.gestor"class="badge m-r-5 badge-info f-14 m-r-5">Gestor</span>
    </div>

  </div>


<hr >

  <h5 class="title-info">Informações pessoais</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Nome:</label>
      <p class="texto-info">{{servidor.nome}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Cpf:</label>
      <p class="texto-info">{{servidor.cpf || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Nascimento:</label>
      <p class="texto-info">{{servidor.dataNascimento || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Email:</label>
      <p class="texto-info">{{servidor.email || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Telefone:</label>
      <p class="texto-info">{{servidor.telefone || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Celular:</label>
      <p class="texto-info">{{servidor.celular || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Rg:</label>
      <p  *ngIf="servidor.rg" class="texto-info">{{servidor.rg }} - {{servidor.orgaoExpedidorRg }}/{{servidor.ufRg}} </p>
      <p  *ngIf="!servidor.rg" class="texto-info">Não informado</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Naturalidade:</label>
      <p class="texto-info">{{servidor.naturalidade || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Nacionalidade:</label>
      <p class="texto-info">{{servidor.nacionalidade || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Filiação (Mãe):</label>
      <p class="texto-info">{{servidor.filiacaoMae || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Filiação (Pai):</label>
      <p class="texto-info">{{servidor.filiacaoPai || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Estado Civil:</label>
      <p class="texto-info">{{servidor?.estadoCivil?.descricao || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Sexo:</label>
      <p class="texto-info">{{servidor?.sexo?.descricao || 'Não informado'}}</p>
    </div>
  </div>

  <hr>

  <h5 class="title-info">Endereço</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Logradouro:</label>
      <p class="texto-info">{{servidor.logradouro || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Complemento:</label>
      <p class="texto-info">{{servidor.complemento || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Bairro:</label>
      <p class="texto-info">{{servidor.bairro || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">CEP:</label>
      <p class="texto-info">{{servidor.cep || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Cidade:</label>
      <p class="texto-info">{{servidor.localidade || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Estado:</label>
      <p class="texto-info">{{servidor.estado || 'Não informado'}}</p>
    </div>

  </div>

  <hr>

  <h5 class="title-info">Dados Funcionais</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Matrícula:</label>
      <p class="texto-info">{{servidor.matricula || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Lotação:</label>
      <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Admissão:</label>
      <p class="texto-info">{{servidor.dataAdmissao || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Cargo:</label>
      <p class="texto-info">{{servidor.cargo || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Função:</label>
      <p class="texto-info">{{servidor.funcao || 'Não informado'}}</p>
    </div>

  </div>

  <hr>

  <h5 class="title-info">Dados Bancários</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Banco:</label>
      <p *ngIf="servidor.numeroBanco" class="texto-info">{{servidor.numeroBanco}} - {{servidor.nomeBanco}} </p>
      <p *ngIf="!servidor.numeroBanco"  class="texto-info">Não informado </p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Agência:</label>
      <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Conta:</label>
      <p class="texto-info">{{servidor.dataAdmissao || 'Não informado'}}</p>
    </div>

  </div>

  <hr>

  <h5 class="title-info">Dados Financeiros</h5>

  <div class="row view-basic-card">
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Renda mensal:</label>
      <p class="texto-info">{{servidor.rendaMensal || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Margem:</label>
      <p class="texto-info">{{servidor.margemEmprestimo || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Margem (Cartão):</label>
      <p class="texto-info">{{servidor.margemCartao || 'Não informado'}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">Margem disponível::</label>
      <p class="texto-info">{{servidor.margemEmprestimoDisponivel || 'Não informado'}}</p>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <label class="label-info">  Margem (Cartão) disponível:</label>
      <p class="texto-info">{{servidor.margemCartaoDisponivel || 'Não informado'}}</p>
    </div>

  </div>
  <hr>

  <div   class="text-center">
    <button type="submit" class="btn btn-light m-r-5" [routerLink]="['/pages/servidores']"  >Voltar</button>
    <button type="submit" class="btn btn-danger m-r-5" (click)="ocorrencia(servidor)"  >Gerar Ocorrência</button>
  </div>


</app-card>

