

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Empréstimos consignados</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                Empréstimos consignados
              </li>

            </ul>
          </div>
        </div>
      </div>


      <app-card hidHeader="true">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputPassword4" class="col-form-label">Número da proposta</label>
            <input type="text"  maxlength="10" [(ngModel)]="filtroPesquisa.numero"  class="form-control" >
        </div>
        <div class="form-group col-md-5">
          <label for="inputEmail4" class="col-form-label">Servidor</label>
          <ng-select [items]="servidores"  bindLabel="matricula" bindValue="pk"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione o Servidor"
          [(ngModel)]="filtroPesquisa.servidor" ></ng-select>
      </div>
      <div class="form-group col-md-5">
          <label for="inputPassword4" class="col-form-label">Situação</label>
          <ng-select [items]="situacoes"  bindLabel="descricao" bindValue="codigo"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Situação"
          [(ngModel)]="filtroPesquisa.situacao"></ng-select>
      </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 text-right">
              <button (click)="pesquisar()" class="btn btn-sm btn-primary">Aplicar filtros</button>
          </div>
        </div>
    </app-card>


<app-card hidHeader="true">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 15%;">ADE</th>
        <th style="width: 15%;">Situação</th>
        <th style="width: 30%;">Servidor</th>
        <th style="width: 15%;">Valor</th>
        <th style="width: 10%;">Parcelas</th>
        <th style="width: 10%;">Pagas</th>
        <th style="width: 5%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emprestimo of emprestimos">
        <td  >{{emprestimo.ade}}</td>
        <td  >{{emprestimo.situacao?.descricao}}</td>
        <td  >{{emprestimo.servidor?.nome}} </td>
        <td  >{{emprestimo.valorFinanciado}}</td>
        <td  >{{emprestimo.totalDeParcelas}}</td>
        <td  >{{emprestimo.totalDeParcelas - emprestimo.parcelasEmAberto}}</td>
        <td >

         <div class="btn-group mb-2 mr-2 dropdown" ngbDropdown placement="auto">
        <button (click)="detalhar(emprestimo)" type="button" class="btn btn-icon btn-outline-success ng-tns-c93-84"><i class="feather icon-check-circle"></i></button>
        <button type="button" class="btn btn-outline-success ng-tns-c93-84 dropdown-toggle-split" ngbDropdownToggle><span class="sr-only">Toggle Dropdown</span></button>
        <div ngbDropdownMenu>
          <a  (click)="anexos(emprestimo)" class="dropdown-item" href="javascript:">Gerenciar Anexos </a>
          <a (click)="parcelas(emprestimo)" class="dropdown-item" href="javascript:void();">Detalhar Parcelas</a>
          <a (click)="liquidar(emprestimo)" *ngIf="emprestimo.situacao.codigo == 1" class="dropdown-item" href="javascript:">Liquidar Empréstimo</a>
          <div *ngIf="emprestimo.situacao.codigo == 1 || emprestimo.situacao.codigo == 2" class="dropdown-divider"></div>
          <a  (click)="suspender(emprestimo)" *ngIf="emprestimo.situacao.codigo == 1" class="dropdown-item" href="javascript:">Suspender Empréstimo</a>
          <a  (click)="ativar(emprestimo)" *ngIf="emprestimo.situacao.codigo == 2" class="dropdown-item" href="javascript:">Ativar Empréstimo</a>
        </div>
      </div>
        </td>
      </tr>
    </tbody>
  </table>

</app-card>
