
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Proposta de Cartão Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/propostas/emprestimos/consulta']">Proposta de Cartão Consignado</a>
              </li>
                <li class="breadcrumb-item ">Detalhar </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-8">
  <app-card  [hidHeader]="true"  >
    <div  style="position: absolute; right: 5px; top: 5px;" >
      <span  *ngIf="proposta.situacao.codigo == '3' || proposta.situacao.codigo == '6'" class="badge m-r-5 badge-danger f-14">{{proposta.situacao.descricao}}</span>
      <span *ngIf="proposta.situacao.codigo == '2'"  class="badge m-r-5 badge-success f-14">{{proposta.situacao.descricao}}</span>
      <span  *ngIf="proposta.situacao.codigo == '5' " class="badge m-r-5 badge-warning f-14">{{proposta.situacao.descricao}}</span>
       <span  *ngIf="proposta.situacao.codigo == '4'" class="badge m-r-5 badge-info f-14 m-r-5">{{proposta.situacao.descricao}}</span>
       <span  *ngIf="proposta.situacao.codigo == '1'" class="badge m-r-5 badge-primary f-14 m-r-5">{{proposta.situacao.descricao}}</span>
    </div>

    <h5 class="title-info">Dados do Servidor</h5>

    <h5 class="title-info">Dados do Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6  ">
        <label class="label-info">Nome:</label>
        <p class="texto-info">{{proposta.servidor?.nome}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Cpf:</label>
        <p class="texto-info">{{proposta.servidor?.cpf}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Matrícula:</label>
        <p class="texto-info">{{proposta.servidor?.matricula || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Email:</label>
        <p class="texto-info">{{proposta.servidor?.email || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Telefone:</label>
        <p class="texto-info">{{proposta.servidor?.telefone || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Celular:</label>
        <p class="texto-info">{{proposta.servidor?.celular || 'Não informado'}}</p>
      </div>

      <div class="col-12 col-md-6  ">
        <label class="label-info">Lotação:</label>
        <p class="texto-info">{{proposta.servidor?.lotacao || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Cargo:</label>
        <p class="texto-info">{{proposta.servidor?.cargo || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info">Renda mensal:</label>
        <p *ngIf="proposta.servidor?.rendaMensal" class="texto-info">{{proposta.servidor?.rendaMensal | currency:'BRL':'symbol'}}</p>
        <p *ngIf="!proposta.servidor?.rendaMensal" class="texto-info">Não disponível</p>

      </div>
    </div>
    <hr>
    <h5 class="title-info">Dados da Consignatária</h5>
    <div class="row view-basic-card">

      <div class="col-12 col-md-6 col-lg-6">
        <label  class="label-info">Consignatária</label>
        <p  class="texto-info" >{{proposta.consignataria.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <label  class="label-info">Cnpj:</label>
        <p  class="texto-info" >{{proposta.consignataria.cnpj}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <label  class="label-info">Email:</label>
        <p  class="texto-info" >{{proposta.consignataria.email}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <label  class="label-info">Ouvidoria:</label>
        <p  class="texto-info" >{{proposta.consignataria.siteOuvidoria}} - {{proposta.consignataria.telefoneOuvidoria}}</p>
      </div>

    </div>
    <hr>
    <h5 class="title-info">Dados da Proposta</h5>
    <div class="row view-basic-card">
      <div class="col-12 col-md-6 ">
        <label  class="label-info">Número:</label>
        <p  class="texto-info" >{{proposta?.numeroProposta }}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label  class="label-info">Limite:</label>
        <p  class="texto-info" >{{proposta?.valorLimiteCartao | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label  class="label-info">Percentual de saque:</label>
        <p  class="texto-info" >{{proposta?.percentualSaqueCartao }}%</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label class="label-info" >Limite de saque:</label>
        <p  class="texto-info" >{{proposta?.valorSaqueCartao  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6  ">
        <label  class="label-info">Juros ao mês:</label>
        <p  class="texto-info"  >{{proposta?.jurosMes}}%</p>
      </div>

      <div class="col-12 col-md-6  ">
        <label  class="label-info">Juros ao ano:</label>
        <p  class="texto-info"  >{{proposta?.jurosAno  | currency:'BRL':'symbol'}}</p>
      </div>

    </div>

    <hr>
    <div  class="text-center">
      <button   [routerLink]="['/pages/propostas/cartao/consulta']" type="button" class="btn btn-light m-r-5"  >Cancelar</button>
      <button *ngIf="proposta.situacao.codigo == '1'"   (click)="indeferir()" type="button" class="btn btn-danger m-r-5"  >Indeferir</button>
      <button   *ngIf="proposta.situacao.codigo == '1'" (click)="devolver()" type="button" class="btn btn-warning m-r-5"  >Devolver</button>
      <button  *ngIf="proposta.situacao.codigo == '1'" (click)="averbar()" type="button" class="btn btn-primary m-r-5"  >Deferir</button>


    </div>
  </app-card>
</div>
<div class="col-md-4">
  <app-card [hidHeader]="true"  cardClass="text-center">
    <button class="btn btn-secondary btn-block">
      Termo de autorização de desconto
    </button>
  </app-card>

  <ngb-accordion [closeOthers]="true"  class="gradientaccordion" >
    <ngb-panel  >
      <ng-template ngbPanelTitle>
        <h5><a href="javascript:">Anexos</a></h5>

      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row" *ngFor="let documento of documentos">
          <div class="col-md-10">
            {{documento.nome}}
          </div>
          <div class="col-md-2">
            <i class="fa fa-download" (click)="download(documento)"  style="cursor: pointer;color: teal;"></i>
          </div>
        </div>


        <hr>
        <div style="width: 100%; text-align: center;">
        <a href="javascript:void();" (click)="openModal(uploadModal)"  class="btn btn-xs btn-primary" btn-block >Adicionar Documento</a>
          </div>


      </ng-template>
    </ngb-panel>
    <ngb-panel  >
      <ng-template ngbPanelTitle>
        <h5><a href="javascript:">Ocorrências</a></h5>
      </ng-template>
      <ng-template ngbPanelContent>
        <ul  class="feed-blog pl-0 ng-tns-c85-13">
          <li style="list-style: none;"  class="diactive-feed " *ngFor="let ocorrencia of ocorrencias">
            <span style="    float: left; z-index: 999999999;
            margin-left: -55px;
            margin-top: 10px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            vertical-align: middle;   padding-top: 11px;
        padding-left: 7px;" class="badge  badge-danger  "
        [ngClass]="{
                    'badge-warning':ocorrencia.motivoOcorrencia === 'Devolvida',
                    'badge-primary':ocorrencia.motivoOcorrencia === 'Análise',
                    'badge-success':ocorrencia.motivoOcorrencia === 'Deferida',
                    'badge-info':ocorrencia.motivoOcorrencia === 'Cancelada',
                    'badge-danger':ocorrencia.motivoOcorrencia === 'Expirada'
                    }">
              <span style="font-size: 1.8rem;">{{ocorrencia.motivoOcorrencia.substr(0,1).toUpperCase()}}</span>
            </span>
            <span style="    float: right;
            margin-top: 5px;
            font-size: 0.8rem;
            position: inherit;
            top: 10px;" class="text-c-green">{{ocorrencia.dataHoraOcorrencia}}</span>

            <p style="text-align: justify; width: 100%;border-top-color: #cecece; border-top-style: solid; border-top-width: 1px; display: inline-block; margin-top: 12px; margin-left: -5px; font-size: 0.8rem; padding-left: 5px;" class="m-b-15 m-t-15">
              <b>{{ocorrencia.usuarioOcorrencia}} escreveu:  </b><br>
              {{ocorrencia.descricaoOcorrencia}}
            </p>
        </li>
      </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  </div>
</div>

<ng-template #uploadModal let-modal="close">
  <div class="modal-header text-center">
      <h5 class="modal-title" style="font-size: 1.2rem;">Adicionar Documento</h5>
  </div>
  <div class="modal-body">
    <div class="row view-basic-card">

      <div class="form-group col-12 col-md-12 col-lg-12">
        <label class="required" for="titulo">Nome</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="fileName" >
      </div>
      <div class="form-group col-12 col-md-12 col-lg-12">
        <label class="required" for="titulo">Arquivo</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" multiple="false"  id="importFile" (change)="onSelect($event.target.files)">
          <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> {{label}}}</label>
        </div>
      </div>

    </div>
    <hr>

  <div class="text-center">
    <button type="button" class="btn btn-light m-r-5" (click)="modal('Cross click')">Cancelar</button>
    <button  (click)="adicionarArquivos()" type="button" class="btn btn-primary m-r-5">Adicionar</button>
  </div>
  </div>

</ng-template>

