<div class="page-block" style="margin-bottom: 20px;">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="page-header-title f-18" style="float: left; color: #555 !important;">
        <h5>Avisos</h5>
      </div>
      <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
        </li>
        <li class="breadcrumb-item active">
          Avisos
        </li>

      </ul>
    </div>
  </div>
</div>


<app-card hidHeader="true">
    <div class="form-row">
      <div class="form-group col-12 col-md-12 col-lg-12">
        <label for="inputPassword4" class="col-form-label">Título</label>
        <input type="text" [(ngModel)]="filtroPesquisa.titulo"  class="form-control" >
    </div>
    <div class="form-group col-12 col-md-6 col-lg-6">
      <label  for="categoria">Categoria</label>
      <ng-select [items]="categorias"  bindLabel="nome"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Categoria:"
      [(ngModel)]="filtroPesquisa.categoria">
      </ng-select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-6">
      <label  for="destinatarioAviso">Destinatários</label>
      <ng-select [items]="destinatarios"  bindLabel="descricao"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Visível para:"
      [(ngModel)]="filtroPesquisa.destinatarioAviso">
      </ng-select>
    </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-12 text-right">
          <button   class="btn btn-sm btn-primary">Aplicar filtros</button>
      </div>
    </div>
</app-card>

<app-card hidHeader="true">
  <a href="javascript:void();" [routerLink]="['/pages/avisos/novo']" class="btn btn-sm btn-primary" style="position: absolute; right: 25px;  margin-left: 5px; z-index: 999999;">Novo Aviso</a>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 40%;">Título</th>
        <th style="width: 20%;">Categoria</th>
        <th style="width: 15%;">Destinatarios</th>
        <th style="width: 15%;">Situação</th>
        <th style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of avisos">
        <td>{{c.titulo}}</td>
        <td>{{c.categoria.nome}}</td>
        <td>{{c.destinatarioAviso.descricao}}</td>
        <td>{{c.ativo?'Ativo':'Inativo'}}</td>
        <td > <button (click)="detalhar(c)" type="button" class="btn  btn-sm btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button></td>
      </tr>
    </tbody>
  </table>

</app-card>



