

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Produtos ativos </h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                 Produtos
              </li>
            </ul>
          </div>
        </div>
      </div>



  <app-card [hidHeader]="true" blockClass="text-center"  *ngIf="semProdutos">
    <i class="fas fa-hand-holding-usd text-c-blue d-block f-80 f-w-900"></i>
    <h4 class="m-t-20">Ainda não existem produtos ativos.</h4>
    <p class="m-b-20">Para oferecer ofertas aos seus consignados é necessário realizar o cadastro de seus produtos.</p>

    <button  [routerLink]="['/pages/produtos/novo/00']"  class="btn btn-primary">Cadastrar Produto</button>
  </app-card>


  <app-card hidHeader="true"  *ngIf="!semProdutos" >
    <a *ngIf="produtos.length < 3"  href="javascript:void();" (click)="novo()" class="btn btn-sm btn-primary" style="position: absolute; right: 25px;  margin-left: 5px; z-index: 999999;">Ativar Produto</a>
    <table   class="table table-hover table-bordered " style="margin-top: 50px;">
      <thead>
        <tr>
          <th style="width: 60%;">Produto</th>
          <th style="width: 35%;">Situação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of produtos">
          <td w>{{c.produto.descricao}}</td>
          <td>{{c.ativo?'Ativa':'Inativa'}}</td>
          <td > <button (click)="edita(c)" type="button" class="btn  btn-sm btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button></td>
        </tr>
      </tbody>
    </table>

  </app-card>
