

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Cartões consignados</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                Cartões consignados
              </li>

            </ul>
          </div>
        </div>
      </div>


      <app-card hidHeader="true">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputPassword4" class="col-form-label">ADE</label>
            <input type="text"  maxlength="10" [(ngModel)]="filtroPesquisa.numero"  class="form-control" >
        </div>
          <div class="form-group col-md-5">
              <label for="inputEmail4" class="col-form-label">Servidores</label>
              <ng-select [items]="servidores"  bindLabel="matricula" bindValue="pk"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione o Sevidor"
              [(ngModel)]="filtroPesquisa.consignataria" ></ng-select>
          </div>
          <div class="form-group col-md-5">
              <label for="inputPassword4" class="col-form-label">Situação</label>
              <ng-select [items]="situacoes"  bindLabel="descricao" bindValue="codigo"  [closeOnSelect]="true" dropdownPosition="auto" placeholder="Selecione a Situação"
              [(ngModel)]="filtroPesquisa.situacao"></ng-select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-12 text-right">
              <button (click)="pesquisar()" class="btn btn-sm btn-primary">Aplicar filtros</button>
          </div>
        </div>
      </app-card>

<app-card hidHeader="true">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th style="width: 15%;">ADE</th>
        <th style="width: 15%;">Situação</th>
        <th style="width: 30%;">Consignatária</th>
        <th style="width: 15%;">Limite</th>
        <th style="width: 10%;">limite saque</th>
        <th style="width: 5%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emprestimo of cartoes">
        <td  >{{emprestimo.ade}}</td>
        <td  >{{emprestimo.situacao?.descricao}}</td>
        <td  >{{emprestimo.consignataria?.nome}} </td>
        <td  >{{emprestimo.valorLimiteCartao  | currency:'BRL':'symbol'}}</td>
        <td  >{{emprestimo.valorSaqueCartao  | currency:'BRL':'symbol'}}</td>
        <td >

         <div class="btn-group mb-2 mr-2 dropdown"  placement="auto">
        <button (click)="detalhar(emprestimo)" type="button" class="btn btn-icon btn-outline-success ng-tns-c93-84"><i class="feather icon-check-circle"></i></button>
        <button (click)="anexos(emprestimo)" type="button" class="btn btn-icon btn-outline-success ng-tns-c93-84"><i class="feather icon-paperclip"></i></button>

      </div>
        </td>
      </tr>
    </tbody>
  </table>

</app-card>
