 <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Renegociação</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active">
                Renegociação
              </li>

            </ul>
          </div>
        </div>
      </div>

      <app-card  [hidHeader]="true"  >
        <h5 class="title-info">Contratos a serem renegociados</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                <th scope="col">ADE</th>
                <th scope="col">Valor</th>
                <th scope="col">Valor total</th>
                <th scope="col">Prestação</th>
                <th scope="col">Parcelas</th>
                <th scope="col">a vencer</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let emprestimo of emprestimos">     
                <td>{{ emprestimo.ade }}</td>
                <td>{{ emprestimo.valorFinanciado | currency:'BRL':'symbol'}}</td>
                <td>{{ emprestimo.valorTotalFinanciamento | currency:'BRL':'symbol'}}</td>
                <td>{{ emprestimo.valorPrestacao | currency:'BRL':'symbol' }}</td>
                <td>{{ emprestimo.totalDeParcelas }}</td>
                <td>{{ emprestimo.parcelasEmAberto }}</td>
                </tr>
                </tbody>
            </table>

        </app-card>


        <app-card  [hidHeader]="true" >

          <div class="row">
            <div class="col-12 col-md-12 text-center">
              <p style="margin-top: 10px; font-size: 1.0rem;">Para simular a renegociação informe a <b>"Quantidade de meses"</b>.</p>
    
            </div>
          </div>
          <hr>
          <div class="row view-basic-card">
    
              <div class="form-group col-12 col-md-4 col-lg-4">
                <label   for="titulo">Valor financiado</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="dadosSimulacao.totalFinanciado" readonly
                currencyMask     [options]="{ prefix: '', thousands: '.', decimal: ',' }">
              </div>
              <div class="form-group col-12 col-md-4 col-lg-4">
                <label   for="titulo">Quantidade de meses</label>
                <input type="number" class="form-control" id="titulo" [(ngModel)]="dadosSimulacao.meses" >
              </div>
            </div>
            <hr>
            <div  class="text-center">
              <button type="button" class="btn btn-primary m-r-5" (click)="simular()"  >Confirmar</button>
            </div>
    
        </app-card>
    
    
        <app-card  [hidHeader]="true" *ngIf="servidor && oferta">
    
          <div class="row view-basic-card">
            <div class="col-12 col-md-12 col-lg-12 text-center">
              <label  >Valor Financiado:</label>
              <p  style="font-size: 1.5rem;">{{oferta.valorEmprestimo  | currency:'BRL':'symbol'}}</p>
            </div>
            <hr>
            <div class="col-12 col-md-3 col-lg-3 text-center">
              <label  >Valor Total do financiamento:</label>
              <p  style="font-size: 1.2rem;">{{oferta.valorTotal  | currency:'BRL':'symbol'}}</p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 text-center">
              <label  >Meses:</label>
              <p  style="font-size: 1.2rem;">{{oferta.parcelas }}</p>
            </div>
            <div class="col-12 col-md3 col-lg-3 text-center">
              <label  >Juros mensal:</label>
              <p style="font-size: 1.2rem;" >{{oferta.jurosMensal}}%</p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 text-center">
              <label  >Valor da parcela:</label>
              <p  style="font-size: 1.2rem;">{{oferta.valorParcela  | currency:'BRL':'symbol'}}</p>
            </div>
    
    
    
          </div>
    
    
          <hr>
          <div  class="text-center">
            <button (click)="aceitarProposta()" type="button" class="btn btn-primary m-r-5"  >Aceitar Proposta</button>
          </div>
    
    
        </app-card>
    