
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Proposta de Cartão Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
                <li class="breadcrumb-item ">Proposta de Cartão Consignado </li>
            </ul>
          </div>
        </div>
      </div>


    <app-card  [hidHeader]="true" *ngIf="!oferta && !confirmacao">

      <div class="row view-basic-card">
      <div class="form-inline ng-untouched ng-pristine ng-valid ng-tns-c93-98">
        <div  class="form-group mx-sm-3 mb-2">
          <input  [(ngModel)]="chave"  type="search" id="chave" placeholder="CPF ou Matrícula:" class="form-control">
        </div>
        <button  (click)="pesquisarServidor()" type="button" class="btn btn-primary mb-2">OK</button>
      </div>
      </div>

    </app-card>

 


    <app-card  [hidHeader]="true" *ngIf="servidor && !oferta  && !confirmacao">

      <div class="row" >
        <div class="col-12 col-sm-12 text-center">
          <span class=" f-24 text-c-teal" style="font-weight: 700;">{{servidor.nome}}</span>
          </div>
    </div>


      <hr >

       <div class="row" >
         <div class="col-4 col-sm-4 text-center">
          <h3  class="m-0" style="font-weight: 400;">{{servidor.margemCartao | currency:'BRL':'symbol'}}</h3>
          <span  class="text-c-green">Margem Total</span>
         </div>
         <div class="col-4 col-sm-4 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{servidor.margemCartaoDisponivel | currency:'BRL':'symbol'}}</h3>
          <span   class="text-c-yellow">Margem Disponível</span>
        </div>
        <div class="col-4 col-sm-4 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{servidor.margemCartaoReservada || 0 | currency:'BRL': 'symbol'}}</h3>
          <span  class="text-c-purple">Margem Reservada</span>
        </div>

       </div>


    <hr>

      <div class="row view-basic-card">
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cpf:</label>
          <p class="texto-info">{{servidor.cpf}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Matrícula:</label>
          <p class="texto-info">{{servidor.matricula || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Email:</label>
          <p class="texto-info">{{servidor.email || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Telefone:</label>
          <p class="texto-info">{{servidor.telefone || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Celular:</label>
          <p class="texto-info">{{servidor.celular || 'Não informado'}}</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Lotação:</label>
          <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cargo:</label>
          <p class="texto-info">{{servidor.cargo || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Renda mensal:</label>
          <p *ngIf="servidor.rendaMensal"class="texto-info">{{servidor.rendaMensal | currency:'BRL':'symbol'}}</p>
          <p *ngIf="!servidor.rendaMensal" class="texto-info">Não disponível</p>

        </div>
      </div>

      <hr>

  <div   class="text-center">
    <button *ngIf="!semMargem"  type="button" class="btn btn-primary m-r-5" (click)="gerarProposta()"  >Gerar Proposta</button>
    <div  *ngIf="semMargem"  class="alert alert-danger" role="alert">
      Servidor não possui margem para cartão.
      </div>
  </div>

    </app-card>


    <div class="alert alert-info" role="alert" *ngIf="semProposta && !oferta">
      Não existe proposta disponível no momento.
      </div>


    <app-card  [hidHeader]="true" *ngIf="servidor && oferta && !confirmacao">


      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <span  placement="auto" style="vertical-align: middle;" class="hei-100 wid-100 bg-light d-inline-block mr-2 border border-success rounded-circle">
            <i class="fa fa-credit-card f-48 " style="font-weight: lighter; margin-top:25px; color: teal;"></i>
          </span>
          <p style="margin-top: 10px; font-size: 1.2rem;">Encontramos uma ótima proposta baseada no perfil do Servidor.</p>

        </div>
      </div>
      <hr>
      <div class="text-center f-48" style="font-weight: 500;">
        {{oferta.limite | currency:'BRL':'symbol'}}
      </div>
      <hr>
      <div class="row view-basic-card">
        <div class="col-12 col-md-3 col-lg-3 text-center">
          <label  >Percentual de saque:</label>
          <p  style="font-size: 1.2rem;">{{oferta.percentualSaque}}%</p>
        </div>
        <div class="col-12 col-md-3 col-lg-3 text-center">
          <label  >Valor autorizado para saque:</label>
          <p  style="font-size: 1.2rem;">{{oferta.valorSaqueAutorizado  | currency:'BRL':'symbol'}}</p>
        </div>
        <div class="col-12 col-md3 col-lg-3 text-center">
          <label  >Juros mensal:</label>
          <p style="font-size: 1.2rem;" >{{oferta.juros}}%</p>
        </div>
        <div class="col-12 col-md-3 col-lg-3 text-center">
          <label  >Juros anual:</label>
          <p  style="font-size: 1.2rem;">{{oferta.jurosAnual}}%</p>
        </div>

      </div>


      <hr>
      <div  class="text-center">
        <button type="button" class="btn btn-primary m-r-5" (click)="confirmarProposta()"  >Aceitar Proposta</button>
      </div>


    </app-card>


    <div *ngIf="confirmacao">
    <app-card  [hidHeader]="true" *ngIf="!enviada">
      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <span  placement="auto" style="padding-top: 27px; padding-left: 0px" class="hei-100 wid-100 bg-light d-inline-block mr-2 border border-success rounded-circle">
            <i class="feather icon-pocket f-48 " style="font-weight: lighter; color: teal;"></i>
          </span>
          <p style="margin-top: 10px; font-size: 1.2rem;">Valide as informações do Servidor e da Oferta antes de prosseguir.</p>

        </div>
      </div>
      <hr>

      <h5 class="title-info">Dados do Servidor</h5>

      <div class="row view-basic-card">
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Nome:</label>
          <p class="texto-info">{{servidor.nome}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cpf:</label>
          <p class="texto-info">{{servidor.cpf}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Matrícula:</label>
          <p class="texto-info">{{servidor.matricula || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Email:</label>
          <p class="texto-info">{{servidor.email || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Telefone:</label>
          <p class="texto-info">{{servidor.telefone || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Celular:</label>
          <p class="texto-info">{{servidor.celular || 'Não informado'}}</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Lotação:</label>
          <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cargo:</label>
          <p class="texto-info">{{servidor.cargo || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Renda mensal:</label>
          <p *ngIf="servidor.rendaMensal" class="texto-info">{{servidor.rendaMensal | currency:'BRL':'symbol'}}</p>
          <p *ngIf="!servidor.rendaMensal" class="texto-info">Não disponível</p>

        </div>
      </div>
      <hr>
      <h5 class="title-info">Dados da Proposta</h5>

      <div class="row view-basic-card">
        <div class="col-12 col-md-6 col-lg-4">
          <label  class="label-info">Percentual de saque:</label>
          <p  class="texto-info" >{{oferta.percentualSaque}}%</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label  class="label-info">Valor autorizado para saque:</label>
          <p  class="texto-info" >{{oferta.valorSaqueAutorizado  | currency:'BRL':'symbol'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info" >Juros mensal:</label>
          <p  class="texto-info" >{{oferta.juros}}%</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label  class="label-info">Juros anual:</label>
          <p  class="texto-info"  >{{oferta.jurosAnual}}%</p>
        </div>

      </div>
      <hr>
      <h5 class="title-info">Instruções ao Servidor</h5>

      <div class="row view-basic-card">
        <div class="col-12 col-md-12 col-lg-12">
          <textarea class="form-control" rows="5" [(ngModel)]="observacoes"></textarea>
        </div>
      </div>

      <hr>
      <div  class="text-center">
        <button type="button" class="btn btn-primary m-r-5" (click)="salvarProposta()"  >Confirmar</button>
      </div>
    </app-card>

    <app-card  [hidHeader]="true" *ngIf="enviada">

      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <span  placement="auto" style="padding-top: 27px; padding-left: 0px" class="hei-100 wid-100 bg-light d-inline-block mr-2 border border-success rounded-circle">
            <i class="feather icon-thumbs-up f-48 " style="font-weight: lighter; color: teal;"></i>
          </span>
          <p style="margin-top: 10px; font-size: 1.2rem;">Pronto! A proposta foi criada. </p>

        </div>
      </div>
      <hr>
      <div class="row view-basic-card ">
        <div class="col-12 col-md-12 text-center">
          <p> A proposta <span   class="badge m-r-5 badge-light-secondary ng-tns-c93-44 f-18">{{propostaCriada?.numeroProposta}}</span>foi criada e encaminhada para averbação.</p>
          <p> O token de averbação foi encaminhado para o email servidor. </p>
        </div>
      </div>
      <hr>
      <div  class="text-center">
        <button   [routerLink]="['/pages/dashboard']"type="button" class="btn btn-primary m-r-5"  >Finalizar</button>
      </div>
    </app-card>
  </div>
