

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>{{acao}} Usuario </h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/usuarios']"  >Usuarios</a>
              </li>
                <li class="breadcrumb-item ">{{acao}}  </li>
            </ul>
          </div>
        </div>
      </div>

<app-card  [hidHeader]="true">
  <form (ngSubmit)="saveOrUpdate()"  [formGroup]="formCadastro"  >

  <h5 class="title-info">Informações gerais</h5>
  <div class="row view-basic-card">

    <div class="form-group col-12 col-md-8 col-lg-8">
      <label class="required" for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" 
      [ngClass]="{ 'is-invalid': form.nome.errors  && submitted}"> 
      <span *ngIf="form.nome.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.nome.errors.required">Campo obrigatório.</span>
        </span>
    </div>

    <div class="form-group col-12 col-md-4 col-lg-4">
      <label class="required" for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" formControlName="cpf" 
      [ngClass]="{ 'is-invalid': form.cpf.errors  && submitted}"> 
      <span *ngIf="form.cpf.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.cpf.errors.required">Campo obrigatório.</span>
        <span *ngIf="form.cpf.errors.cpfvalidator">CPF inválido.</span>
        </span>
    </div>


    <div class="form-group col-12 col-md-4 col-lg-4">
      <label class="required" for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" 
      [ngClass]="{ 'is-invalid': form.email.errors  && submitted}"> 
      <span *ngIf="form.email.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.email.errors.required">Campo obrigatório.</span>
        </span>
    </div>

    <div class="form-group col-12 col-md-4 col-lg-4">
      <label   for="telefone">Telefone</label>
      <input type="text" class="form-control" id="telefone" formControlName="telefone" >
    </div>

    <div class="form-group col-12 col-md-4 col-lg-4">
      <label class="required" for="matricula">Matrícula</label>
      <input type="text" class="form-control" id="matricula" formControlName="matricula" 
      [ngClass]="{ 'is-invalid': form.matricula.errors  && submitted}"> 
      <span *ngIf="form.matricula.errors && submitted" class="invalid-feedback error">
        <span *ngIf="form.matricula.errors.required">Campo obrigatório.</span>
        </span>
    </div>

    <div class="form-group col-12 col-md-4 col-lg-4">
      <label   for="enderecoIp">Endereco IP de acesso</label>
      <input type="text" class="form-control" id="enderecoIp" formControlName="enderecoIp" >
    </div>

    <div class="form-group col-12 col-md-4 col-lg-4">
      <label   for="enderecoIp">Usuário Master?</label>
      <ng-select  [items]="comboMaster"  bindLabel="descricao" bindValue="valor"  [closeOnSelect]="true" dropdownPosition="auto"
      formControlName="master" accesskey="">
    </ng-select>
    </div>

  </div>

  <hr>

  <div   class="text-center">
    <button type="submit" class="btn btn-light m-r-5"  (click)="cancelar()"  >Cancelar</button>
    <button type="submit" class="btn btn-primary m-r-5">   Salvar</button>
  </div>

</form>
</app-card>

