 

      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
              <h5>Cadastro de Portabilidade</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/portabilidade']">Portabilidades de Empréstimos</a>
              </li>
              <li class="breadcrumb-item active">
                Cadastro de Portabilidade
              </li>

            </ul>
          </div>
        </div>
      </div>



    <app-card  [hidHeader]="true" *ngIf="fase == 1">

      <div class="row view-basic-card">
      <div class="form-inline ng-untouched ng-pristine ng-valid ng-tns-c93-98">
        <div  class="form-group mx-sm-3 mb-2">
          <input  [(ngModel)]="chave"  type="search" id="chave" placeholder="CPF ou Matrícula:" class="form-control">
        </div>
        <button  (click)="pesquisarServidor()" type="button" class="btn btn-primary mb-2">OK</button>
      </div>
      </div>

    </app-card>

    <app-card  [hidHeader]="true" *ngIf="servidor && fase == 1">

      <div class="row" >
        <div class="col-12 col-sm-12 text-center">
          <span class=" f-24 text-c-teal" style="font-weight: 700;">{{servidor.nome}}</span>
          </div>
    </div>


      <hr >

       <div class="row" >
         <div class="col-4 col-sm-4 text-center">
          <h3  class="m-0" style="font-weight: 400;">{{servidor.margemCartao | currency:'BRL':'symbol'}}</h3>
          <span  class="text-c-green">Margem Total</span>
         </div>
         <div class="col-4 col-sm-4 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{servidor.margemCartaoDisponivel | currency:'BRL':'symbol'}}</h3>
          <span   class="text-c-yellow">Margem Disponível</span>
        </div>
        <div class="col-4 col-sm-4 text-center">
          <h3   class="m-0" style="font-weight: 400;">{{servidor.margemCartaoReservada || 0 | currency:'BRL': 'symbol'}}</h3>
          <span  class="text-c-purple">Margem Reservada</span>
        </div>

       </div>


    <hr>

      <div class="row view-basic-card">
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cpf:</label>
          <p class="texto-info">{{servidor.cpf}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Matrícula:</label>
          <p class="texto-info">{{servidor.matricula || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Email:</label>
          <p class="texto-info">{{servidor.email || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Telefone:</label>
          <p class="texto-info">{{servidor.telefone || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Celular:</label>
          <p class="texto-info">{{servidor.celular || 'Não informado'}}</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Lotação:</label>
          <p class="texto-info">{{servidor.lotacao || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Cargo:</label>
          <p class="texto-info">{{servidor.cargo || 'Não informado'}}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <label class="label-info">Renda mensal:</label>
          <p *ngIf="servidor.rendaMensal"class="texto-info">{{servidor.rendaMensal | currency:'BRL':'symbol'}}</p>
          <p *ngIf="!servidor.rendaMensal" class="texto-info">Não disponível</p>

        </div>
      </div>

      <hr>

  <div   class="text-center">
    <button type="button" class="btn btn-primary m-r-5" (click)="iniciarProcesso()"  >Iniciar processo</button>
  </div>

    </app-card>


    <app-card  [hidHeader]="true" *ngIf="fase == 2">
      
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered ">
        <thead>
          <tr>
            <th style="width: 15%;">ADE</th>
            <th style="width: 30%;">Consignatária</th>
            <th style="width: 15%;">Valor</th>
            <th style="width: 10%;">Parcelas</th>
            <th style="width: 10%;">A pagar</th>
            <th style="width: 5%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emprestimo of emprestimos">
            <td  >{{emprestimo.ade}}</td>
            <td  >{{emprestimo.consignataria?.nome}} </td>
            <td  >{{emprestimo.valorFinanciado  | currency:'BRL':'symbol'}}</td>
            <td  >{{emprestimo.totalDeParcelas}}</td>
            <td  >{{emprestimo.parcelasEmAberto }}</td>
            <td >
    
             <div class="btn-group mb-2 mr-2 dropdown" ngbDropdown placement="auto">
            <button (click)="selecionar(emprestimo)" type="button" class="btn btn-icon btn-outline-success ng-tns-c93-84"><i class="feather icon-check-circle"></i></button>

          </div>
            </td>
          </tr>
        </tbody>
      </table>                                                                                         

    </app-card>


    <app-card  [hidHeader]="true" *ngIf="fase == 3">


      <h5 class="title-info">Dados do emprestimo</h5>

    <div class="row view-basic-card">

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">ADE</label>
        <p  class="texto-info" >{{emprestimo?.ade}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Valor financiado:</label>
        <p  class="texto-info" >{{emprestimo?.valorFinanciado | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas:</label>
        <p  class="texto-info" >{{emprestimo?.totalDeParcelas }}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas restantes:</label>
        <p  class="texto-info" >{{emprestimo?.parcelasEmAberto }}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label class="label-info" >Valor das parcelas:</label>
        <p  class="texto-info" >{{emprestimo?.valorPrestacao  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Juros:</label>
        <p  class="texto-info"  >{{emprestimo?.jurosAoMes }}%</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Saldo devedor:</label>
        <p  class="texto-info"  >{{emprestimo?.valorTotalFinanciamento | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Situação:</label>
        <p  class="texto-info"  >{{emprestimo?.situacao.descricao}}</p>
      </div>
    </div>
    </app-card>


    <app-card  [hidHeader]="true" *ngIf="fase == 3">
      <h5 class="title-info">Dados da Portabilidade</h5>


      <div class="row view-basic-card">

        <div class="form-group col-12 col-md-3 col-lg-3">
          <label class="required" for="nome">Parcelas</label>
          <input type="text" class="form-control" id="totalDeParcelas"  [(ngModel)]="portabilidade.totalDeParcelas">
        </div>
        <div class="form-group col-12 col-md-3 col-lg-3">
          <label class="required" for="nome">Valor Parcela</label>
          <input type="text" class="form-control" id="valorPrestacao"  [(ngModel)]="portabilidade.valorPrestacao" currencyMask     [options]="{ prefix: '', thousands: '.', decimal: ',' }">
        </div>

        <div class="form-group col-12 col-md-3 col-lg-3">
          <label class="required" for="nome">Juros Mensal</label>
          <input type="text" class="form-control" id="jurosAoMes"  [(ngModel)]="portabilidade.jurosAoMes" currencyMask     [options]="{ prefix: '', thousands: '.', decimal: ',' }">
        </div>

        <div class="form-group col-12 col-md-3 col-lg-3">
          <label class="required" for="nome">CET</label>
          <input type="text" class="form-control" id="cet"  [(ngModel)]="portabilidade.cet" currencyMask     [options]="{ prefix: '', thousands: '.', decimal: ',' }">
        </div>
         
      </div>

      <div   class="text-center">
        <button type="submit" class="btn btn-light m-r-5" [routerLink]="['/pages/portabilidade']"  >Cancelar</button>
        <button  (click)= "salvar()"  type="submit" class="btn btn-primary m-r-5">   Salvar</button>
      </div>
    

    </app-card>