
      <div class="page-block" style="margin-bottom: 20px;">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title f-18" style="float: left; color: #555 !important;">
            <h5> Empréstimo Consignado</h5>
            </div>
            <ul class="breadcrumb" style="float: right; margin-top: 0px; padding: 0px;">
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/dashboard']"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/pages/emprestimos/']"> Empréstimo Consignado</a>
              </li>
                <li class="breadcrumb-item ">Detalhar </li>
            </ul>
          </div>
        </div>
      </div>
  <app-card  [hidHeader]="true"  >

    <button  style="position: absolute; top: 10px; right: 30px;"  (click)="anexos()" type="button" class="btn btn-icon btn-outline-secondary  m-r-5"  ><i class="fa fa-paperclip"></i></button>

    <h5 class="title-info">Dados do Servidor</h5>

    <div class="row view-basic-card">
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Nome:</label>
        <p class="texto-info">{{emprestimo.servidor?.nome}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cpf:</label>
        <p class="texto-info">{{emprestimo.servidor?.cpf | mask: "000.000.000-00"}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Matrícula:</label>
        <p class="texto-info">{{emprestimo.servidor?.matricula || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Email:</label>
        <p class="texto-info">{{emprestimo.servidor?.email || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Telefone:</label>
        <p class="texto-info">{{emprestimo.servidor?.telefone || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Celular:</label>
        <p class="texto-info">{{emprestimo.servidor?.celular || 'Não informado'}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Lotação:</label>
        <p class="texto-info">{{emprestimo.servidor?.lotacao || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Cargo:</label>
        <p class="texto-info">{{emprestimo.servidor?.cargo || 'Não informado'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label class="label-info">Renda mensal:</label>
        <p *ngIf="emprestimo.servidor?.rendaMensal" class="texto-info">{{emprestimo.servidor?.rendaMensal | currency:'BRL':'symbol'}}</p>
        <p *ngIf="!emprestimo.servidor?.rendaMensal" class="texto-info">Não disponível</p>

      </div>
    </div>
    <hr>
    <h5 class="title-info">Dados do emprestimo</h5>

    <div class="row view-basic-card">

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">ADE</label>
        <p  class="texto-info" >{{emprestimo?.ade}}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Valor financiado:</label>
        <p  class="texto-info" >{{emprestimo?.valorFinanciado | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas:</label>
        <p  class="texto-info" >{{emprestimo?.totalDeParcelas }}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Parcelas restantes:</label>
        <p  class="texto-info" >{{emprestimo?.parcelasEmAberto }}</p>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <label class="label-info" >Valor das parcelas:</label>
        <p  class="texto-info" >{{emprestimo?.valorPrestacao  | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Juros:</label>
        <p  class="texto-info"  >{{emprestimo?.jurosAoMes }}%</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Saldo devedor:</label>
        <p  class="texto-info"  >{{emprestimo?.valorTotalFinanciamento | currency:'BRL':'symbol'}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label  class="label-info">Situação:</label>
        <p  class="texto-info"  >{{emprestimo?.situacao.descricao}}</p>
      </div>


    </div>

    <hr>
    <div  class="text-center">
      <button   [routerLink]="['/pages/emprestimos']" type="button" class="btn btn-light m-r-5"  >Cancelar</button>
      <button *ngIf="emprestimo.situacao.codigo == '1'"   (click)="suspender()" type="button" class="btn btn-danger m-r-5" > Suspender</button>
      <button *ngIf="emprestimo.situacao.codigo == '2'"   (click)="ativar()" type="button" class="btn btn-success m-r-5" > Ativar</button>
      <button   (click)="parcelas()" type="button" class="btn btn-info m-r-5" >Parcelas</button>
      <button  *ngIf="emprestimo.situacao.codigo == '1'" (click)="liquidar()" type="button" class="btn btn-secondary m-r-5" >Liquidar</button>


    </div>
  </app-card>
